/*libs*/
/*!** Fichier destiné à l'import de font d'icones et aux mixins associés ***/
@font-face {
  font-family: 'adelya-icon';
  src: url('/wp-content/themes/adelya/public/fonts/iconfont/adelya-icon.ttf?bg9hkb') format('truetype'), url('/wp-content/themes/adelya/public/fonts/iconfont/adelya-icon.woff?bg9hkb') format('woff'), url('/wp-content/themes/adelya/public/fonts/iconfont/adelya-icon.svg?bg9hkb#adelya-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'adelya-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.icon-empreinte:before {
  content: "\e900";
}
.icon-message:before {
  content: "\e901";
}
.icon-telephone:before {
  content: "\e902";
}
.icon-noun_43356_cc:before {
  content: "\e903";
}
.icon-24-heures:before {
  content: "\e904";
}
.icon-logistique:before {
  content: "\e905";
}
.icon-triangle:before {
  content: "\e906";
}
.icon-video:before {
  content: "\e018";
}
.icon-share:before {
  content: "\e081";
}
.icon-tag:before {
  content: "\e085";
}
.icon-cog:before {
  content: "\e023";
}
.icon-heart:before {
  content: "\e024";
}
.icon-inbox:before {
  content: "\e122";
}
.icon-globe:before {
  content: "\e078";
}
.icon-speech-bubble:before {
  content: "\e076";
}
.icon-head:before {
  content: "\e074";
}
.icon-cloud-download:before {
  content: "\e067";
}
.icon-eye:before {
  content: "\e000";
}
.icon-unlock:before {
  content: "\e008";
}
.icon-bell:before {
  content: "\e006";
}
.icon-image:before {
  content: "\e010";
}
.icon-target:before {
  content: "\e012";
}
.icon-clipboard:before {
  content: "\e013";
}
.icon-clock:before {
  content: "\e014";
}
.icon-camera:before {
  content: "\e017";
}
.icon-monitor:before {
  content: "\e021";
}
.icon-server:before {
  content: "\e022";
}
.icon-signal:before {
  content: "\e011";
}
.icon-paper-clip:before {
  content: "\e001";
}
.icon-cloud-upload:before {
  content: "\e066";
}
.icon-folder:before {
  content: "\e059";
}
.icon-pie-graph:before {
  content: "\e092";
}
.icon-paper:before {
  content: "\e034";
}
.icon-search:before {
  content: "\e036";
}
.icon-cloud:before {
  content: "\e065";
}
.icon-location-2:before {
  content: "\e071";
}
.icon-briefcase:before {
  content: "\e075";
}
.icon-bar-graph-2:before {
  content: "\e091";
}
.icon-archive:before {
  content: "\e121";
}
.icon-outbox:before {
  content: "\e123";
}
.icon-file:before {
  content: "\e124";
}
.icon-file-add:before {
  content: "\e125";
}
.icon-cross:before {
  content: "\e117";
}
.icon-arrow-down:before {
  content: "\e097";
}
.icon-arrow-up:before {
  content: "\e096";
}
.icon-arrow-right:before {
  content: "\e095";
}
.icon-arrow-left:before {
  content: "\e094";
}
.icon-check:before {
  content: "\e116";
}
.icon-reload:before {
  content: "\e080";
}
.icon-box:before {
  content: "\e079";
}
.icon-globe2:before {
  content: "\e07a";
}
.icon-unlock2:before {
  content: "\e009";
}
.icon-flag:before {
  content: "\e108";
}
.icon-bag:before {
  content: "\e106";
}
.icon-laptop_chromebook:before {
  content: "\e31f";
}
.icon-phonelink:before {
  content: "\e326";
}
.icon-ondemand_video:before {
  content: "\e63a";
}
.icon-insert_invitation:before {
  content: "\e24f";
}
.icon-payment:before {
  content: "\e8a1";
}
.icon-card_travel:before {
  content: "\e8f8";
}
.icon-local_grocery_store:before {
  content: "\e547";
}
.icon-event_available:before {
  content: "\e614";
}
.icon-school:before {
  content: "\e80c";
}
.icon-location_on:before {
  content: "\e0c8";
}
.icon-ring_volume:before {
  content: "\e0d1";
}
.icon-bluetooth_audio:before {
  content: "\e60f";
}
.icon-reseau:before {
  content: "\e907";
}
.icon-portefeuille:before {
  content: "\e908";
}
.icon-caddie:before {
  content: "\e909";
}
.icon-cadeau:before {
  content: "\e90a";
}
.icon-reduction:before {
  content: "\e90b";
}
.icon-carte-cadeau:before {
  content: "\e90c";
}
.icon-noun_223228_cc:before {
  content: "\e90d";
}
.icon-message2:before {
  content: "\e90e";
}
.icon-message-graphique:before {
  content: "\e90f";
}
.icon-graphique:before {
  content: "\e910";
}
.icon-camembert:before {
  content: "\e911";
}
.icon-graphique-2:before {
  content: "\e912";
}
.icon-triangle-plein:before {
  content: "\e913";
}
.icon-planete:before {
  content: "\e914";
}
.icon-twitter:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-rappeler:before {
  content: "\e917";
}
.icon-nuage:before {
  content: "\e918";
}
.icon-pyramide:before {
  content: "\e919";
}
.icon-link:before {
  content: "\e005";
}
.icon-trace:before {
  content: "\e91a";
}
.icon-file-pdf-o:before {
  content: "\f1c1";
}
.icon-file-word-o:before {
  content: "\f1c2";
}
.icon-file-excel-o:before {
  content: "\f1c3";
}


/*# sourceMappingURL=adelya-icon.css.map*/