body{
	margin: 0;
	padding: 0;
}
hr {
	height: 0px;
	border: none;
	border-top: 1px solid #DDD;
	margin-bottom: 20px;
	clear: both;
}
a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}
#doc-integ{
	width: 1000px;
	margin: 0 auto;				
	font-family: 'Trebuchet MS',Arial,Verdana,sans-serif;
	font-size: 13px;
	color: #747474;
	text-align: left;
}
#doc-integ #nav {
	margin-top: 20px;
	margin-bottom: 20px;
}
#doc-integ #nav a{
	float: left;
	padding: 8px 18px;
	margin: 5px;
	color: #333;
	font-weight: bold;
}
#doc-integ #nav a:hover{
	color: black;
}
#doc-integ #subnav a{
	text-decoration: none;
	color: #747474;
	font-weight: bold;
}
#doc-integ h1 {
	margin: 30px 0px 5px 0px;
	text-align: center;
	text-shadow: 0 0 0.3em white, 0 0 0.3em white,0 0 0.3em white;
}
#doc-integ h3 {
	margin: 0px 0px 5px 0px;
	margin-top: 0;
	font-size: 28px;
	font-family: 'Amaranth', Tahoma, sans-serif;
	color: #747474;
	font-weight: normal;
	clear: both;
	float: left;
}
#doc-integ .active h3 {
	color: #cc6600;
}
#doc-integ h4 {
	margin: 5px 0px 0px 0px;
	font-size: 17px;
	text-decoration: underline;
}
#doc-integ .go-to-top {
	float: right;
	line-height: 38px;
}
#doc-integ .main-ul {
	list-style-type: none;
	padding: 4px;
	margin: 0px;
}
#doc-integ .main-ul .main-li {
	margin: 10px 0px;
}
#doc-integ .bloc-descr {
	padding-right: 100px;
	margin-bottom: 10px;
}
#doc-integ ul li.exemple {
	background-color: #eaedf2;
	border-radius: 3px;
	padding: 4px;
}
#doc-integ .bloc {
	clear:both;
	border-radius: 3px;
	box-shadow: 0px 0px 10px #b3bec7;
	margin: 20px 0px;
	background-color: #FFF;
	padding: 10px;
	color: #333;
}
#doc-integ .bloc.active {
	border: 1px solid #cc6600;
	box-shadow: 1px 1px 12px #cc6600;
}
#doc-integ .label {
	font-weight: bold;
	color: #222;
}
#doc-integ .value {
	font-weight: bold;
	color: #7a600c;
}
#doc-integ .ex {
	color: black;
}
#doc-integ .info {
	font-style: italic;
	font-size: 12px;
}
textarea {
	width: 98%;
	height: 200px;
	border: 1px solid #999;
	color: #333;
	background-color: #e4f2e1;
}
.embed-wrapper:after, #shop:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#shop-list .embed-wrapper, #deal-list .embed-wrapper {
	width: 630px;
	height: 1110px;
	margin-left: auto;
	margin-right: auto;
}
#shop {
	height: 370px;
	width: 980px;
}
.cross-browser img {
	float: left;
	height: 40px;
}
.opacity-overlay{
	background-color: black;
color: #999;
opacity: 0.5;
filter : alpha(opacity=50);
height: 100px;
position: relative;
width: 100%;
z-index: 2;
text-align: center;
line-height: 100px;
font-size: 50px;
text-transform: uppercase;
font-weight: bold;
cursor: pointer;
}
.opacity-overlay:hover{
	opacity: 0.8;
	filter : alpha(opacity=80);
}

/** LOT HELP PAGES WITH OVERLAY **/
.helpLot {
    position: absolute;
    
    color:white;
    font-family: 'Helvetica';
}

img.helpLot {
    width:  100%;
    height: 100%;
}

.helpLot p {
    text-align:left;
}

.lot-overlaybg {
    top:    0px;
    left:   0px;
}

.lot-navFollowing {
    top:    94%;
    left:   91%;
    height: 6%;
    width:  9%;
}

.lot-navPrevious {
    top:    94%;
    left:   0%;
    height: 6%;
    width:  9%;
}

/** LOT START PAGE **/

#lot-start1 {
    top:    12%;
    left:   50%;
    width:  15%;
}

#lot-start2 {
    left:   80%;
    top:    10%;
    width:  15%;
}

#lot-start3 {
    left:   45%;
    top:    64%;
    width:  30%;
}

/** LOT SHOW MEMBER PAGE **/

#lot-showMember1 {
    top:    20%;
    left:   26%;
    width:  15%;
}

#lot-showMember2 {
    left:   10%;
    top:    57%;
    width:  15%;
}

#lot-showMember3 {
    left:   29%;
    top:    80%;
    width:  15%;
}

#lot-showMember4 {
    left:   72%;
    top:    44%;
    width:  16%;
}

/** LOT MEMBER LIST PAGE **/

#lot-memberList1 {
    top:    17%;
    left:   29%;
    width:  14%;
}

#lot-memberList2 {
    left:   10%;
    top:    57%;
    width:  30%;
}

#lot-memberList3 {
    left:   63%;
    top:    13%;
    width:  15%;
}

#lot-memberList4 {
    left:   72%;
    top:    45%;
    width:  16%;
}