/*****************************************
Animations import
******************************************/

@import "_animations/bounce.less";
@import "_animations/bounceIn.less";
@import "_animations/bounceInDown.less";
@import "_animations/bounceInLeft.less";
@import "_animations/bounceInRight.less";
@import "_animations/bounceInUp.less";
@import "_animations/fadeIn.less";
@import "_animations/fadeInDown.less";
@import "_animations/fadeInDownBig.less";
@import "_animations/fadeInLeft.less";
@import "_animations/fadeInLeftBig.less";
@import "_animations/fadeInRight.less";
@import "_animations/fadeInRightBig.less";
@import "_animations/fadeInUp.less";
@import "_animations/fadeInUpBig.less";
@import "_animations/fadeOut.less";
@import "_animations/fadeOutDown.less";
@import "_animations/fadeOutDownBig.less";
@import "_animations/fadeOutLeft.less";
@import "_animations/fadeOutLeftBig.less";
@import "_animations/fadeOutRight.less";
@import "_animations/fadeOutRightBig.less";
@import "_animations/fadeOutUp.less";
@import "_animations/fadeOutUpBig.less";
@import "_animations/flip.less";
@import "_animations/flipInX.less";
@import "_animations/flipInY.less";
@import "_animations/flipOutX.less";
@import "_animations/flipOutY.less";
@import "_animations/zoom.less";


.animation(@name, @duration:1s, @delay:0) {
	&.animated{
		-webkit-animation-name: @name;
		-moz-animation-name: @name;
		-o-animation-name: @name;
		animation-name: @name;
		-webkit-animation-duration:@duration;
		-moz-animation-duration:@duration;
		-o-animation-duration:@duration;
		animation-duration:@duration;
		-webkit-animation-fill-mode: both;
		-moz-animation-fill-mode: both;
		-o-animation-fill-mode: both;
		animation-fill-mode: both;
	}
}

.animate(@name, @duration:1s, @delay:0) {
	-webkit-animation-name: @name;
	-moz-animation-name: @name;
	-o-animation-name: @name;
	animation-name: @name;
	-webkit-animation-duration:@duration;
	-moz-animation-duration:@duration;
	-o-animation-duration:@duration;
	animation-duration:@duration;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:@delay;
	-moz-animation-delay:@delay;
	-ms-animation-delay:@delay;
	-o-animation-delay:@delay;
	animation-delay:@delay;
}
