.footer{
	position: relative;
	display: block;
	
	padding: 0 0 15px;
	text-align: center;

	background-color: transparent;
	.row();


	margin-right: auto !important;
	margin-left: auto !important;
	width: 80%;
	max-width: @max-width;
	@media(max-width: 780px){
		width: 90%;
	}
	@media(max-width: 550px){
		width: 100%;
	}
	.nav-list{
		position: relative;
		.row(0);


		padding-top: 20px;
		padding-right: 0;
		padding-bottom: 15px;
		padding-left: 0;

		&-item{
			font-size: initial;
			padding: 0 10px;
			border-left: 1px solid @color-grey;
			&:first-child{
				border-left: none;
			}
			.underline-reveal(@color-grey-nav);
			&:before{
				left: 10px;
				right: 10px;
				height: 1px;
			}
		}
		&-link{
			.transition(opacity .3s ease);
			font-family: 'adelya-bold-webfont';
			display: block;

			color: @color-grey-nav;

			font-size: 12.5px;

			height: 25px;
			line-height: 30px;
			.opacity(.5);

			white-space:nowrap;
			&:hover{
				.opacity(1);
				//text-decoration: underline;
			}
		}
	}

	.copyright{
		font-family: 'adelya-light-webfont';
		font-size: 12.5px;
		color: @color-grey;
	}
}
