header{
	position: relative;
	display: block;
}
.header{
	//z-index: -1;
	position: relative;
	display:table;
	width: 100%;
	padding: 85px 0;

	.rgba(@color-red-light-t, .7);
	background-color: @result;

	text-align: center;

	@media(max-width: 720px){
		padding: 55px 0;
	}

	@media(max-width: 550px){
		padding: 35px 0;
	}
}
.header{
	&-content{
		 display: table-cell;
		 vertical-align: middle;
		&-title{
			margin-left: auto;
			margin-right: auto;
		}
	}
	&-title{
		text-transform: uppercase;
		display: block;
		padding: 0;
		margin: 0;
		padding-bottom: 8px;
		color: @color-w;
		@media(max-width: 720px){
			width: 100%;
		}
	}
	&-subtitle{
		text-transform: initial;
		display: block;
		width: 75%;
		margin: 0 auto;
		.adelya-l();
		.fs(23);
		color: @color-w;
		@media(max-width: 720px){
			width: 90%;
		}
	}
	div.header-title{
		display: block;
		width: 80%;
		margin: auto;
		@media(max-width: 720px){
			width: 100%;
		}
	}
}
.single-adelya_actualites{
	header{
		div.header-title{
			width: 75%;
			padding: 15px;
		}
	}
}