/*
 * Common block navigation
 */

 .navigation-block{
 	position: relative;
 	display: block;
 	width: 100%;
 	.row(0);
 	padding: 0;
 	text-align: right;
 	@media(max-width: 820px){
 		text-align: left;
 	}
 	.navigation-block-main{
 		position: relative;
 		display: block;
 		padding-top: 45px;
 		padding-left: 10%;
 		@media(max-width: 820px){
 			padding: 0 0 0 10%;
 			min-height: 95px;
 		}
 		&-logo{
 			text-align: left;
 			.col(4);
 			padding-left: 0;
 			padding-bottom: 15px;
 			margin-top: -95px;
 			vertical-align: bottom;
 			@media(max-width: 1680px){
 				.col(5);
 				vertical-align: bottom;
 				padding-bottom: 15px;
 			}
 			@media(max-width: 1450px){
 				padding-bottom: 15px;
				//.col(6);
			}
			@media(max-width: 992px){
				.col(4);
				a{
					width: 40%;
				}
				vertical-align: bottom;
			}
			@media(max-width: 820px){
				margin-top: 0;
				.col(8);
				vertical-align: middle;
				padding-left: 0;
				padding-right: 0;
			}
			a {
				max-width:120px;
				display: inline-block;
				vertical-align:bottom;
				@media(max-width: 992px){
					max-width: 100px;
				}
				@media(max-width: 820px){
					max-width: 80px;
				}
			}
			img{
				display: block;
				width:120px;
				vertical-align: bottom;
				@media(max-width: 992px){
					width: 100px;
					height: inherit;
					margin: 0 0 10px -4px;
					vertical-align: bottom;
				}
				@media(max-width: 820px){
					width: 80px;
					margin-bottom: 10px;
				}
			}
			.punchline{
				display: inline-block;
				color: @color-grey-punchline;
				font-family: 'adelya-lightitalic-webfont';
				font-size: 12px;
				text-transform: uppercase;
				padding-left: 1%;
				vertical-align: bottom;
				margin-bottom: -4px;
				@media(max-width: 1350px){
					width: 50%;
				}
				@media(max-width: 992px){
					font-size: 10px;
					display: inline-block;
					margin: 0 0 0 -8px;
					padding: 0 0 7px 10px;
					width: 60%;
					margin-bottom:0;
				}
				@media(max-width: 820px){
					font-size: 12px;
					padding: 0 0 6px 10px;
				}
			}
		}
	}
	.main-navigation{
		position: relative;		
		.col(7);
		@media(max-width: 1680px){
			.col(7);
			vertical-align: bottom;
		}
		@media(max-width: 1450px){
			//.col(6);
		}
		@media(max-width: 992px){
			.col(8);
			vertical-align: middle;
		}
		height: 52px;		
		vertical-align: bottom;
		@media(max-width: 820px){
			display: none;
		}
		.nav-list{
			position: relative;
			.row(0);
			padding-right: 0;
			padding-left: 0;
			&-item{
				position: relative;
				font-size: initial;
				padding: 0 20px;
				@media(max-width: 1145px){
					padding: 0 8px;
				}
				@media(max-width: 992px){
					padding: 0 10px;
				}
				&:after{
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					width: 1px;
					height: 37px;
					background-color: @color-grey;
				}
				&:before{content: none;}
				&:last-child{
					&:after{
						background-color: transparent;
					}
				}
			}
			&-link{
				font-family: 'adelya-bold-webfont';
				display: block;
				text-transform: uppercase;
				color: @color-grey-nav;
				font-size: 16px;
				height: 52px;
				line-height: 37px;
				white-space:nowrap;
				@media(max-width: 1680px){
					font-size: 16px;
					height: 52px;
					line-height: 37px;
				}
				@media(max-width: 1450px){
					font-size: 14px;
				}
				@media(max-width: 1145px){
					font-size: 13px;
				}
				@media(max-width: 992px){
					font-size: 12px;
				}
				&.current_page{
					color: @color-hover-nav-second;

				}
				.underline-reveal(@color-hover-nav-second);
				&.id-49{
					&:before{
						background-color: @color-green;
					}
				}
			}
		}
	}

	.navigation-block-second {
		position: relative;
		display: block;
		height: 43px;
		line-height: 43px;
		@media(max-width: 1680px){
			height: 38px;
			line-height: 38px;
		}
		@media(max-width: 1450px){
			height: 35px;
			line-height: 35px;
		}
	}
	.nav-langue{
		position: relative;
		z-index: 99;
		display: inline-block;
		margin: 3px 0 0;
		text-align: center;
	}
	.second-navigation{
		background-color: #f7f7f7;
		.rgba(@color-background-nav-second, 0.05);
		height: 43px;
		@media(max-width: 1680px){
			height: 38px;
		}
		@media(max-width: 1450px){
			height: 35px;
		}
		@media(max-width: 820px){
			text-align: center;
		}
		.nav-list{
			position: relative;
			.col(6);
			width: inherit;
			.row(0);
			height: 43px;
			@media(max-width: 1680px){
				height: 38px;
			}
			@media(max-width: 1450px){
				height: 35px;
			}

			padding-right: 0;
			padding-left: 0;
			&-item{
				font-size: initial;
				padding: 0 16px;
				vertical-align: top;

				@media(max-width: 1450px){
					padding: 0 12px;
				}
				&:before{
					content: none;
				}
				@media(max-width: 820px){
					display: none;
				}
				&.facebook {
					@media(max-width: 820px){
						display: inline-block;
					}
				}
				&.twitter {
					@media(max-width: 820px){
						display: inline-block;
					}
				}
				&.blog {
					a{
						font-size: 40px;
					}
					@media(max-width: 820px){
						display: inline-block;
					}
				}
				&.full{
					padding: 0;
					height: 43px;
					.transition(background-color .3s ease);

					&.current_page{
						
					}
					a{
						padding: 0 25px;
						color: @color-w;
						&:hover {
							&:before {
								display: none;
							}
						}
						&:before{
							content: none;
						}
					}
					@media(max-width: 1680px){
						height: 38px;
					}
					@media(max-width: 1450px){
						height: 35px;
					}					
					@media(max-width: 820px){
						display: none;
					}
				}
				@media(max-width: 992px){
					padding: 0 10px;
				}
			}
			&-link{
				.transition(color .3s);
				font-family: 'adelya-bold-webfont';
				display: block;
				text-transform: uppercase;
				color: @color-grey-nav;
				font-size: 12.5px;
				height: 46px;
				line-height: 43px;
				&-icon{
					line-height: 43px;
					font-size: 22px;
					color: @color-grey-nav-icon;
					&:hover {
						color: rgba(102,102,102,0.5);
					}
				}
				@media(max-width: 1680px){
					font-size: 11px;
					height: 42px;
					line-height: 38px;
					&-icon{
						line-height: 38px;
					}
				}
				@media(max-width: 1450px){
					font-size: 10px;
					height: 39px;
					line-height: 35px;
					&-icon {
						line-height: 35px;
					}
				}

				&.current_page,
				&:hover,
				&:focus,
				&:active{
					color: @color-hover-nav-second;
				}
				.underline-reveal(@color-hover-nav-second);
			}
		}
	}
}

/* Class add by wordpress adminn*/
.link_green{
	background-color: @color-nav-bg-btn-green;
	&:hover, &:focus, &:active, &.current_page_li {
		background-color: @color-grey-nav;
	}
}
.link_red{
	background-color: @color-nav-bg-btn-red;
	&:hover, &:focus, &:active, &.current_page_li {
		background-color: @color-grey-nav;
	}
}
.link_orange{
	background-color: @color-nav-bg-btn-orange;
	&:hover, &:focus, &:active, &.current_page_li{
		background-color: @color-grey-nav;
	}
}

.link_red_light{
	background-color: @color-nav-bg-btn-red-light;
	&:hover, &:focus, &:active, &.current_page_li {
		background-color: @color-grey-nav;
	}
}



.mobile-block {
	@media(min-width: 820px) {
		display: none;
	}
	.col(4);
	text-align: right;
	vertical-align: middle;
	&-btn {
		border: 0;
		background-color: transparent;
		text-align: center;
		&:hover {
			cursor: pointer;
		}
	}
	&-txt {
		text-transform: uppercase;
		.adelya-l();
		.fs(13);
		color: @color-grey-h2;
		opacity: 0.8;
		display: inline-block;
		vertical-align: middle;
		word-wrap: normal;
		white-space : nowrap;
		margin: 0 5px 0 0; 
	}
	&-burger {
		display: inline-block;
		vertical-align: middle;
	}
	&-border {
		content: "";
		width: 30px;
		height: 2px;
		background-color: @color-grey-h2;
		opacity: 0.8;
		display: block;
		margin: 5px auto;
	}
}

.overlay {
	position: fixed;
	display: table;
	height: 100%;
	width: 100%;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;	
	opacity: 0;
	.transition(opacity 1s ease);
	background-color: @color-grey-nav;
	&.overlay-door {
		text-align: center;
	}
	.overlay-close {
		position: absolute;
		z-index: 1001;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		border: none;
		outline: none;
		background-color: @color-grey-nav;
		&:hover {
			cursor: pointer;
		}
		&-cross1 {
			position: relative;	
			content: "";
			display: block;			
			top: 3px;
			background-color: @color-w;
			width: 30px;
			height: 3px;	
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&-cross2 {
			position: relative;	
			content: "";
			display: block;
			background-color: @color-w;
			width: 30px;
			height: 3px;	
			-ms-transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
			transform: rotate(135deg);	
		}
	}
}

.mobile-nav {
	position: relative;
	z-index: 1000;
	vertical-align: middle;
	display: table-cell;
	&-ul {
		display: block; 
		padding: 0;
		list-style: none;
		display: table-cell;
		width: 1%;
		vertical-align: middle;
	}
	&-li {
		display: block;
		margin: 0 20%;

		border-top: 1px solid rgba(255,255,255,0.5);
		&:first-child {
			border-top: 0;
		}
		&:before {
			display: none;
		}
		&.full {
			display: inline-block;
			width: 33.33%;
			border: 0;
			margin: 0;
			text-transform: uppercase;
			position: relative;
			bottom: 0;
			a {
				.fs(14);
				.lh(14);
			}
			@media(max-width:480px) {
				width: 100%;
			}
		}
		&.link_red {
			position: absolute;
			bottom: 0;
			left: 0;
			&:hover {
				background-color: @color-nav-bg-btn-red;
			}

			@media(max-width:480px) {
				position: relative;
			}
		}
		&.link_red_light {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			&:hover {
				background-color: @color-nav-bg-btn-red-light;
			}

			@media(max-width:480px) {
				position: relative;
			}
		}
		&.link_orange {
			position: absolute;
			right: 0;
			bottom: 0;
			&:hover {
				background-color: @color-nav-bg-btn-orange;
			}

			@media(max-width:480px) {
				position: relative;
			}
		}
	}
	&-li-link  {
		display: block;
		color: @color-w;
		.adelya-m();
		.fs(20);
		.lh(20);
		padding: 20px 0;
		@media(max-height: 660px){
			padding: 10px 0;
		}
		&:visited{
			color: @color-w;
		}
	}
}