.navigation.pagination{
	position: relative;
	border-bottom: 1px solid @color-border-bloc-news;
	margin-bottom: 40px;
	padding-bottom: 40px;
	.screen-reader-text{
		display: none;
	}
	.nav-links{
		text-align: center;
	}
	.page-numbers{
		.adelya-r();
		.fs(24);
		color: @color-red;
		margin: 0 10px;
		&.current{
			color: @color-grey-nav;
		}
	}
	.icon.icon-fleche-droite{
		display: inline-block;
		&.reverse{
			-ms-transform: rotate(180deg); /* IE 9 */
			-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
			transform: rotate(180deg);
		}
	}
}