footer {

}

.footer {
	background-color: @footer;
	padding: 20px 0 150px;
	&-copy {
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		text-align: left;
		@media(max-width:480px) {
			width: 100%;
			margin: 0 0 10px;
			text-align: center;
		}
		&-txt {
			.adelya-l();
			.fs(12);
			.lh(12);
			color: @w;
		}
		a {
			color: @w;
			opacity: .8;
			&:hover{
				opacity: 1;
			}
		}
	}
	&-link {
		display: inline-block;
		width: 50%;
		margin: 0 0 0 -4px;
		text-align: right;
		@media(max-width:480px) {
			width: 100%;
			margin: 0;
			text-align: center;
		}
		&-txt {
			display: inline-block;
			padding: 15px 15px 10px;
			background-color: @blog;
			border: 1px solid @blog;
			border-radius: 50px; 
			.adelya-b();
			.fs(13);
			.lh(13);
			color: @w;
			.transition(all 0.2s ease);
			text-decoration: none;
			&:hover {
				background-color: transparent;			
			}
		}
	}
}