.post-detail {
	padding: 0 5% 35px 0;
	@media(max-width:992px) {
		padding: 35px 0 15px;
	}
	@media(max-width: 320px) {
		padding: 15px 0;
	}
	.border-spec-color {
		width: 30px;
		height: 4px;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	h1 {
		position: relative;
		.adelya-l();
		.fs(40);
		.lh(40);
		color: @font;
		margin: 0 0 5px;
		padding: 0 0 10px;
		.border-spec-color {
			width: 60px;
			height: 4px;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		@media(max-width:480px) {
			.fs(30);
			.lh(30);
		}
	}
	&-date {
		.adelya-r();
		.fs(16);
		.lh(24);
		color: @font;
		display: inline-block;
		vertical-align: middle;
	}
	&-intro {
		.fs(23);
		.lh(28);
		margin: 0 0 25px;
		@media(max-width:480px) {
			.fs(20);
			.lh(24);
		}
	}
	.post-img {
		img {
			max-width: 100%;
			height: auto;
			display: block;	
		}
	}
	p {
		.fs(18);
		.lh(24);
		strong {
			.adelya-b();
		}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	h2, h3 {
		margin: 25px 0;
	}
	&-share {
		padding: 25px 10px;
		border-top: 1px dashed @font;
		border-bottom: 1px dashed @font;
		margin: 35px 0;
		&-title {
			.fab();
			.fs(17);
			.lh(17);
			margin: 0 55px 0 0
		}
		span {			
			display: inline-block;
			vertical-align: middle;
		}
		@media(max-width: 640px){
			text-align: center;
			line-height: 40px;
			&-title {
				margin: 0 15px 0 0;
			}
		}
	}
	.form-submit{
		@media (max-width:768px) {
			text-align: center;
		}
	}
	
	.comments {
		&-title {
			text-align: center;
			.adelya-b();
			.fs(16);
			.lh(16);
			text-transform: uppercase;
		}
		input, textarea{
			border: 1px solid transparent;
		}
		input.not-valid, textarea.not-valid{
			border:1px solid @blue;
		}
		.form-tips{
			color:@blue;
			font-size:14px;
		}
	}
	.comment {
		ul.children{
			border-left: 4px solid rgba(0, 165, 155, 0.4);
			list-style: none;
			margin-left: 15px;
			padding-left: 15px;
		}
		&-awaiting-moderation{
			margin: 0;
			.adelya-m();
			.fs(15);
			.lh(15);
			font-style: italic;
			color: @font;
		}
		&-respond, &-respond a{
			.adelya-m();
			.fs(15);
			.lh(15);
			color: @font;
		}
		&-list {
			list-style: none;
			padding: 0 0 40px;
			margin: 0 0 30px;
			border-bottom: 1px dotted @font;
		}
		&-form{
			padding-bottom:25px;
			border-bottom: 1px dotted @font;
		}
		&-author {
			display: inline-block;
			vertical-align: middle;
			img {
				display: none;
				
			}
			.fn {
				display: inline-block;
				vertical-align: middle;
				.adelya-m();
				.fs(16);
				.lh(16);
				padding: 0 8px 0 0;
				border-right: 1px solid @font;
				margin: 0 8px 0 0;
				@media(max-width:480px) {
					border-right: 0;
				}
			}
			span {
				display: none;
			}
			@media(max-width:480px) {
				display: block;	
			}
		}
		&-metadata {
			display: inline-block;
			vertical-align: middle; 
			@media(max-width:480px) {
				margin: 0 0 0 55px;
			}
			a {
				display: inline-block;
				vertical-align: middle;
				.adelya-r();
				.fs(13);
				.lh(13);
				font-style: italic;
				color: @font;
				text-decoration: none;
			}
		}
		&-content {
			padding: 8px 0 0;
			margin: 0 0 20px;
			p,li {
				margin: 0;
				.adelya-r();
				.fs(16);
				.lh(20);
				color: #696464;
			}
		}
		.reply {
			text-align: right;
			a {
				text-decoration: none;
				.adelya-b();
				.fs(13);
				.lh(13);
				text-transform: uppercase;
				color: @font;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&-reply-title {
			text-align: center;
			.adelya-b();
			.fs(16);
			.lh(16);
			text-transform: uppercase;
			margin: 0 0 30px;
		}
		&-notes {
			.adelya-r();
			.fs(16);
			.lh(20);
		}
		&-form-author {
			display: inline-block;
			vertical-align: top;
			margin-top: 0px;
			width: 50%;
			padding-right:20px;
			@media(max-width:768px) {
				width: 100%;
				padding-right:0;
			}
		}
		&-form-email {
			display: inline-block;
			vertical-align: top;
			margin-top: 0px;
			width: 50%;
			padding-left:20px;
			margin: 0 0 0 -4px;
			@media(max-width:768px) {
				width: 100%;
				margin: 0;
				padding-left:0;
			}
		}
	}
	form {
		label {
			display: block;
			.adelya-r();
			.fs(15);
			.lh(16);
			color: @font;
			text-transform: uppercase;
			margin: 0 0 5px;
		}
		input {
			display: inline-block;
			width: 100%;
			height: 40px;
			border-radius: 0;
			border: 0;
			background-color: #e7e6e6;
			padding: 0 10px;
		}
		textarea {
			display: block;
			border: 0;
			width: 100%;
			background-color: #e7e6e6;
			padding: 10px;
		}
		input[type="submit"] {
			display: inline-block;
			border: 2px solid @font;
			border-radius: 50px;
			background-color: @font;
			padding: 15px 5px 25px;
			.adelya-b();
			.fs(13);
			.lh(13);
			color: @w;
			text-transform: uppercase;
			width: 230px;
			.transition(all 0.2s ease);
			&:hover {
				cursor: pointer;
				background-color: transparent;
				color: @font;
			}
			@media (max-width:768px) {
				margin: 0 auto;
			}
		}
	}
}

.blog-content {
	ul {
		list-style: disc;
	}
}

.main .author {
	background-color: @w;
	padding: 20px 20px 35px 20px; 
	margin: 0 0 35px;
	@media (max-width:630px) {
		text-align: center;
		padding: 20px 5px 35px 5px; 
	}
	&-avatar {
		display: inline-block;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		vertical-align: top;
		overflow: hidden;
		vertical-align: top;
		@media (max-width:630px) {
			margin: 0 auto 20px auto;
			display: block;
		}
		img {
			width: 101%;
			height: auto;
			display: block;	
			margin: 0 auto;
		}
	}
	&-description {
		display: inline-block;
		width: 80%;
		vertical-align: top;
		padding-left:30px;
		@media (max-width:630px) {
			padding-left: 0;
		}
	}
	&-heading {
		margin: 0 0 10px;
		display: block;
		.fs(14);
		color: @blue;
	}
	&-title {
		margin: 0 0 10px;
		.adelya-b();
		.fs(27);
		.lh(29);
		color: @font;
		text-transform: uppercase;
		padding: 0;
		position: relative;
		padding-bottom:3px;
		.border-spec-color {
			width: 25px;
			height: 2px;
		}
		&:before{
			content: '';
			bottom:0;
			left:0;
			height:2px;
			width: 30px;
			position: absolute;
			background-color: @blue;
			@media (max-width:630px) {
				left:0; right:0;
				margin: auto;
			}
		}
	}
	&-link {
		text-decoration: none;
		color: @blue!important;
		text-transform: uppercase;
		.transition(all .3s ease);
		.adelya-b();
		.fs(12);
		.lh(12);
		display: inline-block;
		&:hover {
			color: @font !important;
		}
	}
}