body {
	.adelya-r();
	.fs(16);
	.lh(22);
	color: @font;
}

@blue: #00A59B;

h2 {
	position: relative;
	.adelya-l();
	.fs(25);
	.lh(27);
	color: @font;
	margin: 0 0 5px;
	padding: 0 0 10px;
	.border-spec-color {
		width: 60px;
		height: 4px;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	a {
		.adelya-l();
		.fs(25);
		.lh(27);
		color: @font;
		text-decoration: none;
	}
	@media(max-width:480px) {
		.fs(22);
		.lh(24);
		a {
			.fs(22);
			.lh(24);
		}
	}
}

h3 {
	position: relative;
	.adelya-l();
	.fs(22);
	.lh(25);
	color: @font;
	margin: 0 0 5px;
	padding: 0 0 10px;
	@media(max-width:480px) {
		.fs(20);
		.lh(23);
	}
}

.site-content {
	background: #f8f8f8 url(/wp-content/themes/adelya/public/images/texture-blog.jpg) repeat left top;
}
.vc_column_container>.vc_column-inner{
	@media(max-width: 320px){
		padding-left: 0;
		padding-right: 0;
	}
}
.main {
	&-row {
		.row(30)
	}
	&-content {
		margin-top:30px;
		.col(9,30);
		.become-col(12,992);
	}
	&-aside {
		.col(3,30);
		.become-col(12,992);
		.sidebar {
			@media(max-width:992px) {
				display: none;
			}
		}
		.aside-cat {
			@media(max-width:992px) {
				display: none;
			}
		}
	}
}

.aside {
	&-container {
		margin-top: 30px;
		margin-bottom: 40px;
		padding: 30px 20px;
		background-color: @w;
		border-radius: 20px;
		@media(max-width:992px) {
			background-color: transparent;
			margin-top:0;
			padding-top:0;
		}
		@media(max-width: 320px){
			padding-left: 0;
			padding-right: 0;
		}
	}
	&-search-form {
		width: 100%;
		margin: 0 0 35px;
	}
	.email{
		width: 70%;
		display: inline-block;
		vertical-align: top;
		margin: 0 5px 0 0;
	}
	form{
		padding-bottom:20px;
	}
	.wpcf7-response-output{
		margin: 0;
		border:1px solid lighten(@blog-spec, 10%);
		color: white;
		.lh(10);
		.fs(13);
	}
	.wpcf7-not-valid-tip{
		color:white;
		margin-top:5px;
		.fs(12);
		.lh(13);
	}
	
	&-title {
		.adelya-b();
		.fs(15);
		.lh(15);
		color: @font;
		text-transform: uppercase;
		padding: 0 0 5px 5px;
		border-bottom: 1px solid rgba(80,73,73,0.2);
		text-align: left;
	}
	&-cat {
		width: 95%;
		&-ul {
			padding: 0 0 0 10px;
			margin: 0 0 20px;
			list-style: none;
		}
		&-li {
			margin: 0 0 10px,
		}
		&-a {
			display: inline;
			.adelya-m();
			.fs(15);
			.lh(15);
			color: @font;
			text-decoration: none;
			position: relative;
			padding: 0 0 4px;
			.transition(all 0.2s ease);
			.border-spec-color {
				width: 10px;
				height: 1px;
				position: absolute;
				left: 0;
				bottom: 0;
				.transition(all 0.2s ease);
			}
			&:hover {
				.border-spec-color {
					width: 100%;
				}
			}
		}
	}
	&-newsletter {
		background-color: @blog-spec;
		padding: 40px 15px 0px;
		margin: 0 0 30px;
		text-align: center;
		@media(max-width: 1200px) {
			padding: 40px 5px;
		}
		@media(max-width:992px) {
			padding: 20px 5px;
			form{
				padding-bottom: 0;
			}
		}
		&-title {
			.fab();
			.fs(25);
			.lh(25);
			color: @w;
			margin: 0 0 20px;
		}
		&-txt {
			.adelya-r();
			.fs(13);
			.lh(18);
			color: @w;
			margin: 0 0 5px;
			padding: 0 15px;
		}
		&-img {
			max-width: 80px;
			height: auto;
			display: block;
			margin: 0 auto 15px;
		}
		&-form {

		}
		&-field {
			display: inline-block;
			margin: 0 5px 0 0;
			padding: 0 0 0 10px;
			border: 1px solid @w;
			border-radius: 35px;
			width: 140px;
			background-color: rgba(255,255,255,0.2);
			height: 34px;
			.adelya-r();
			.fs(16);
			.lh(16);
			color: @w;
			@media(max-width: 1200px) {
				width: 120px;
			}
		}
		&-submit {
			width: 34px;
			height: 34px;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid @w;
			border-radius: 35px;
			margin: 0;
			padding: 0;
			background-color: @w;
			.adelya-m();
			.fs(13);
			.lh(13);
			color: @blog-spec;
			text-transform: uppercase;
			.transition(all 0.2s ease);
			&:hover {
				cursor: pointer;
				background-color: transparent;
				color: @w;
			}
		}
	}
	&-socials {
		text-align: center;
		@media (max-width:992px) {
			.aside-title{
				text-align: center;
				max-width: 70%;
				margin-left:auto;
				margin-right: auto;
			}
		}
		&-link {
			display: inline-block;
			margin: 0 0 0 -20px;
			background-color: rgba(80,73,73,0.35);
			width: 70px;
			height: 70px;
			border-radius: 90px;
			text-align: center;
			position: relative;
			.transition(all 0.2s ease);
			&:first-child {
				margin: 0;
			}
			&:before {
				position: absolute;
				left: 0;
				right: 0;
				top: 50%;
				color: @w;
			}
			&.facebook {				
				&:before {
					.iconFont(@icon-facebook);
					.fs(35);
					.lh(35);
					margin-top: -16px;
				}
			}
			&.twitter {				
				&:before {
					.iconFont(@icon-twitter);
					.fs(30);
					.lh(30);
					margin-top: -15px;
				}
			}
			&.pinterest {
				&:before {
					.iconFont(@icon-pinterest);
					.fs(30);
					.lh(30);
					margin-top: -15px;
				}
			}
			&.linkedin {
				&:before {
					.iconFont(@icon-linkedin);
					.fs(25);
					.lh(30);
					margin-top: -17px;
				}
			}
			&:hover {
				background-color: @font;
			}
		}
	}
}

.mobile-bar {
	@media(min-width:992px) {
		display: none;
	}
	text-align: center;
	margin: 20px 0 0;
	.sidebar {
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		@media(max-width:480px) {
			width: 100%;
			margin: 0 0 20px;
		}
	}
	form {
		margin: 0;
	}
	&-cat {
		display: inline-block;
		width: 50%;
		margin: 0 0 0 -4px;
		vertical-align: middle;
		@media(max-width:480px) {
			width: 100%;
			margin: 0 0 0;
		}
	}
	&-select {
		width: 80%; 
		border: 0 none;
		border-radius: 35px;
		color: #504949;
		display: inline-block;
		height: 38px;
		margin: 0 5px 0 0;
		padding: 0 20px;
		background: #e8e8e8 url(/wp-content/themes/adelya/public/images/select.png) no-repeat right 4px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&:focus {
			outline: none;
		}
		@media(max-width:480px) {
			width: 95%;
			margin: 0 0 0;
		}
	}
	
}

//********** form *********//
input[type="search"], input[type="email"] {
	width: 100%;
	height: 38px;
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid @w;
	border-radius: 35px;
	color: @font;
	padding-left: 20px;
	&:focus{
		outline:none;
	}
	@media(max-width: 1200px) {
		width: 70%;
	}
}
input[type="search"]{
	background-color: #E8E8E8;
	width:80%;
}

input[type="submit"], button[type="submit"] {
	width: 34px;
	height: 34px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid @font;
	border-radius: 35px;
	margin: 0;
	padding: 0;
	background-color: @font;
	.adelya-m();
	.fs(13);
	.lh(13);
	color: @w;
	text-transform: uppercase;
	.transition(all 0.2s ease);
	&:focus{
		outline:none;
	}
	&:hover {
		cursor: pointer;
		background-color: transparent;
		color: @font;
	}
}
.aside-newsletter{
	div.wpcf7{
		.ajax-loader{
			display: block;
		}
		form{
			text-align: center;
		}
	}
	input[type="email"]{
		width: 100%;
	}
	input[type="submit"] {
		background-color: @w;
		border: 1px solid @w;
		color: @blog-spec;
		&:hover {
			cursor: pointer;
			background-color: transparent;
			color: @w;
		}
		@media(max-width: 420px){
			.fs(10);
		}
	}
	input[type="search"], input[type="email"]{
		color: @w;
	}
}

.border-spec-color{
	width: 60px;
	height: 4px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.comments{
	font-size:initial;
}


.bg-white{
	margin-top: 30px;
	background-color: white;
	border-radius: 20px;
	padding: 30px;
}


.col-12{
	.col(12);
}
.content{
	padding-top:35px;
}


.main-content .related{
	&-cat, &-cat a {
		.adelya-m();
		.fs(16);
		padding: 20px 0;
	}
	.postbox {
		&-title{
			margin-top:0;
			margin-bottom:5px;
		}
		&-date{
			margin-bottom:0;}
		}
	}

	.alignnone {
		margin: 5px 20px 20px 0;
	}

	.aligncenter,
	div.aligncenter {
		display: block;
		margin: 5px auto 5px auto;
	}

	.alignright {
		float:right;
		margin: 5px 0 20px 20px;
		@media(max-width: 680px){
			float: none;
			display: inline-block;
			width: 100%;
			height: inherit;
			margin: 0 auto;
		}
	}

	.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
		@media(max-width: 680px){
			float: none;
			display: inline-block;
			width: 100%;
			height: inherit;
			margin: 0 auto;
		}
	}

	a img.alignright {
		float: right;
		margin: 5px 0 20px 20px;
		@media(max-width: 680px){
			float: none;
			display: inline-block;
			width: 100%;
			height: inherit;
			margin: 0 auto;
		}
	}

	a img.alignnone {
		margin: 5px 20px 20px 0;
	}

	a img.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
		@media(max-width: 680px){
			float: none;
			display: inline-block;
			width: 100%;
			height: inherit;
			margin: 0 auto;
		}
	}

	a img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto
	}

	.wp-caption {
		background: #fff;
		border: 1px solid #f0f0f0;
		max-width: 96%; /* Image does not overflow the content area */
		padding: 5px 3px 10px;
		text-align: center;
	}

	.wp-caption.alignnone {
		margin: 5px 20px 20px 0;
	}

	.wp-caption.alignleft {
		margin: 5px 20px 20px 0;
	}

	.wp-caption.alignright {
		margin: 5px 0 20px 20px;
	}

	.wp-caption img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}

	.wp-caption p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		margin: 0;
		padding: 0 4px 5px;
	}

	/* Text meant only for screen readers. */
	.screen-reader-text {
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}

	.screen-reader-text:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}



a.mt-share-inline-bar-sm img {
	width: 34px;
	height: auto;
	border: 0px;
}
a.mt-share-inline-bar-sm:hover {
	z-index: 50;
	transform: scale3d(1.075, 1.075, 1.075);
}
a.mt-share-inline-bar-sm {
	display: inline-block;
	width: 104px;
	height: 32px;
	border-radius: 0px;
	margin-right: 0px;
	text-align: center;
	position: relative;
	vertical-align: middle;
	border-radius: 3px;
	transition: all 100ms ease-in;
	transform: scale3d(1, 1, 1);
}
.mt-google:hover {
	background-color: rgb(225, 95, 79);
}
.mt-google {
	background-color: rgb(221, 75, 57);
}
.mt-linkedin:hover {
	background-color: rgb(16, 135, 192);
}
.mt-linkedin {
	background-color: rgb(14, 118, 168);
}
.mt-twitter:hover {
	background-color: rgb(8, 187, 255);
}
.mt-twitter {
	background-color: rgb(0, 172, 238);
}
.mt-facebook:hover {
	background-color: rgb(66, 100, 170);
}
.mt-facebook {
	background-color: rgb(59, 89, 152);
}
.mt-pinterest:hover {
	background-color: rgb(221, 42, 48);
}
.mt-pinterest {
	background-color: rgb(204, 33, 39);
}