header {

}

.header {
	&-main {
		background: @blog url(/wp-content/themes/adelya/public/images/trame-blog-header.png) no-repeat center top;
		padding: 15px 0;
		&-logo {
			display: inline-block;
			width: 10%;
			margin: 0;
			vertical-align: bottom;
			@media(max-width:768px) {
				width: 13%;
			}
			@media(max-width:480px) {
				width: 110px;
				height: 110px;
				display: block;
				margin: 0 auto;
			}
			&-link {
				display: block;
				text-align: center;
				background-color: @w;
				padding: 15px;
				border-radius: 80px;
			}
			&-img {
				width: 100%
			}
		}		
		&-punchline {
			display: inline-block;
			width: 90%;
			margin: 0 0 0 -8px;
			vertical-align: bottom;
			text-align: right;
			span {
				display: block;
			}
			@media(max-width:768px) {
				width: 87%;
			}
			@media(max-width:480px) {
				width: 100%;
			}
		}
		&-blog-txt {
			.fab();
			.fs(25);
			.lh(30);
			color: @blog-dk;
			margin: 0 15px 0 0;
		}
		&-title {
			.adelya-b();
			.fs(50);
			.lh(50);
			color: @w;
			letter-spacing: -0.025em;
			text-transform: uppercase;
			@media(max-width:768px) {
				.fs(35);
				.lh(35);
			}
			@media(max-width:480px) {
				.fs(28);
				.lh(28);
			}
		}
		&-subtitle {
			margin: -5px 0 0;
			.adelya-l();
			.fs(17);
			.lh(17);
			color: @w;
		}
	} 
	&-nav {
		background-color: #1eb6ae;
		&-ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				display: inline-block;
				margin: 0 0 0 -3px; 
				&.current-menu-item {
					a {
						background-color: @color-green;
					}
				}
				a {
					display: block;
					.adelya-m();
					.fs(15);
					.lh(10);
					color: @w;
					text-transform: uppercase;
					padding: 15px 25px;
					text-decoration: none;
					.transition(all 0.3s ease);
					&:hover {
						background-color: @color-green;
					}
				}
			}
		}
	}
}