// !!! les textes ne sont pas stylés de base, c'est de l'arial 
.postbox{
	.row(30);
	&-col{
		.col(6,30);
		.become-col(12, 768);
		@media (max-width:768px) {
			padding-left:0;
			padding-right:0;
		}
	}
	&-content{
		background-color: white;
		border-radius: 20px;
		padding: 30px;
		padding-bottom:40px;
		margin: 0 0 20px;
		position: relative;
		cursor: pointer;
		&:hover{
			.postbox-img img{
				.scale(1);
			}
			.postbox-icon{
				right:25px;
			}
		}
	}
	&-title{
		position: relative;
		padding-bottom:10px;
		a{
			.transition(all .5s cubic-bezier(0, 0, 0.2, 1));
		}	
	}
	&-date {
		.adelya-r();
		.fs(16);
		.lh(24);
		color: @font;
		display: inline-block;
		vertical-align: middle;
		@media(max-width:480px) {
			display: block;
			margin: 0;
		}
	}
	&-cat {
		vertical-align: middle;
		min-height: 24px;
		display: inline-block;
		width: 50%;
		margin: 0 0 0 1px;
		padding: 0 0 0 4px;
		border-left: 1px solid @font;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		@media(max-width:480px) {
			margin: 0;
			padding: 0;
			border: 0;
		}
	}
	&-author {
		.adelya-r();
		.fs(14);
		.lh(24);
		display: block;
		text-decoration: none;
		margin: 0 0 10px;
		&:hover {
			text-decoration: underline;
		}
	}
	&-img{
		display: inline-block;
		overflow: hidden;
		margin: 0 0 10px;
		height:200px;
		width: 100%;
		img{
			.transition(all .6s ease);
			.scale(1.08);
			height:100%;
			width:auto;
		}
	}
	&-icon{
		position: absolute;
		bottom:25px;
		right:35px;
		.transition(all .5s cubic-bezier(0, 0, 0.2, 1));
		&:before{
			.fs(23);
			color:#A9A9A9;
		}
	}
}

.pagination {
	text-align: center;
	margin: 0 0 40px;
	span  {
		display: inline-block;
		vertical-align: middle;
		.adelya-b();
		.fs(17);
		.lh(17);
		color: @font;
		margin: 0 2px;
	}
	a {
		display: inline-block;
		vertical-align: middle;
		.adelya-b();
		.fs(17);
		.lh(17);
		color: @blog;
		margin: 0 5px;
		text-decoration: none;
	}
	&-prev {
		background: rgba(60,191,184,0.13) url(/wp-content/themes/adelya/public/images/prev.png) no-repeat center center;
		display: inline-block;
		vertical-align: middle;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		.transition(all 0.2s ease);
		&:hover {
			background-color: rgba(60,191,184,0.3);
		}
	}
	&-next {
		background: rgba(60,191,184,0.13) url(/wp-content/themes/adelya/public/images/next.png) no-repeat center center;
		display: inline-block;
		vertical-align: middle;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		.transition(all 0.2s ease);
		&:hover {
			background-color: rgba(60,191,184,0.3);
		}
	}
}