.postslider {
	@media(max-width: 320px){
		margin: 0 0 30px;
	}
	.flexslider {
		background: transparent none repeat scroll 0 0;
		border: 0;
		border-radius: 0;
		margin: 0 0 5px;
	}
	&-item {
		&-container {
			background-color: @w;
			padding: 25px;
			border-radius: 25px;
		}
		&-left {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			padding: 0 20px 0 0;
			margin: 0;
			@media(max-width:768px) {
				width: 100%;
				padding: 0;
				margin: 0 0 10px;
			}
		}
		&-right {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			margin: 0 0 0 -8px;
			padding: 0 0 0 20px;
			@media(max-width:768px) {
				width: 100%;
				padding: 0;
				margin: 0;
			}
		}
		&-h2 {
			position: relative;
			.adelya-l();
			.fs(35);
			.lh(37);
			color: @font;
			margin: 0 0 15px;
			padding: 0 0 14px;
			.border-spec-color {
				width: 60px;
				height: 4px;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
		&-date {
			.adelya-r();
			.fs(16);
			.lh(24);
			color: @font;
		}
		&-cat {
			display: inline;
			margin: 0 0 0 5px;
			padding: 0 0 0 5px;
			border-left: 1px solid @font;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
			@media(max-width:480px) {
				display: block;
				margin: 0;
				padding: 0;
				border: 0;
			}
		}
		&-author {
			.adelya-r();
			.fs(14);
			.lh(24);
			margin: 6px 0;
		}
		&-all {
			display: inline-block;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&-intro {
			.adelya-r();
			.fs(16);
			.lh(22);
			color: @font;
		}
		&-more {
			.adelya-r();
			.fs(13);
			.lh(22);
			color: @font;
		}
	}
	&-navigation {		
		width: 100%;
		text-align: center;
		margin-bottom: 22px;
		margin-top: -15px;
		> a {
			display: inline-block;
			vertical-align: middle;
			width: 40px;
			height: 40px;
			border-radius: 20px;
			.transition(all 0.2s ease);
			&:hover {
				background-color: rgba(60,191,184,0.3);
			}
		}

		.flex-prev {
			background: rgba(60,191,184,0.13) url(/wp-content/themes/adelya/public/images/prev.png) no-repeat center center;  

		}
		.flex-next {
			background: rgba(60,191,184,0.13) url(/wp-content/themes/adelya/public/images/next.png) no-repeat center center;  
		}
		
		.flex-control-nav {
			bottom: auto;
			position: relative;
		}
	}
	&-controls {
		display: inline-block;
		vertical-align: middle;
		padding: 10px 0 0;
	}
}