.actualite-listing{
	&-item{
		&:first-child{
			margin-top: 70px;
		}
		position: relative;
		border-bottom: 1px solid @color-border-bloc-news;
		margin-bottom: 40px;
		padding-bottom: 40px;
		.icon-fleche-droite{
			.transition(right .3s ease);
			position: absolute;
			top: -40px;
			right: 15px;
			bottom: 0;

			margin: auto;
			color: @color-red;

			border: 1px solid @color-red;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			.fs(20);
			line-height: 37px;
			text-align: center;
			@media(max-width: 650px){
				display: none;
			}
		}
		&:hover{
			.actualite-listing-title{
				a, &{
					color: @color-red;
				}
			}
			.icon-fleche-droite{
				right: 5px;
			}
		}
		@media(max-width: 650px){
			width: 100%;
			padding-right: 5px;
			padding-left: 5px;
		}
	}
	&-title{
		a{.transition(color .3s)};
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		width: 90%;
		@media(max-width: 650px){
			width: 100%;
		}
	}
	&-date{
		color: @color-red;
	}
	&-content{
		position: relative;
		width: 80%;
		p{
			padding: 0;
			margin: 0;
		}
		.entry-summary{
			padding-top:35px;
		}
		@media(max-width: 650px){
			width: 100%;
		}
	}
}
