.actualite-detail{
	header{
		&:after{
			clear: both;
		}
		&:before{
			content: "";
			display: table;
		}
		padding-top: 50px;
		position: relative;
		p{
			margin: 0;
			padding: 0;
			.adelya-m();
			.fs(18);
			&:after{
				content: '';
				width: 50px;
				height: 4px;
				background-color: @color-red;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
		padding-bottom: 20px;
	}
	.actualite-content{
		h2{
			.h3();
			text-transform: inherit;
		}
	}
	&-thumbnail{
		float: right;
		overflow: hidden;
		margin-left: 60px;
		width: 50%;
		max-width: 450px;
		&:after{
			clear: both;
		}
		&:before{
			content: "";
			display: table;
		}
		@media(max-width: 720px){
			display: block;
			float: none;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 15px;
			max-width: inherit;
			text-align: center;
			width: 100%;
			img{
				display: block;
				margin: 0 auto;
			}
		}
	}
	&-footer{
		margin: 35px 0;
		padding: 25px 0 50px;
		border-top: 1px solid @color-grey;
		border-bottom: 1px solid @color-grey;

		font-size: 0;
		&-share{
			&-title{
				font-size: 22px;
				vertical-align: middle;
				margin-right: 15px;
				.fab();
				color: @color-grey-nav;
			}
			&-wrapper{
				display: inline-block;
				width: 50%;
				@media (max-width:660px) {
					width:100%;
					text-align:center;
					margin-bottom:20px;
				}
				span{
					vertical-align: middle;
				}
			}
		}
		&-link{
			display: block;
			.btn-red();
			&-wrapper{
				display: inline-block;
				width: 50%;
				text-align: right;
				@media (max-width:660px) {
					width:100%;
					text-align: center;
				}
			}
		}
	}
}
