.orange {
	/*navigation*/
	.navigation-block .main-navigation .nav-list-link.current_page{
		color: @color-nav-orange;
	}
	
	/*HEADER*/
	.header{
		.rgba(@color-orange-t, .7);
		background-color: @result;
	}
	/*Titre avec trace*/
	#content .wpb_wrapper > .title-trace > .title-trace--title .icon {
		color: @color-nav-orange;
	}
	/*Subnavigation*/
	.commentcamarche{
		.subnav{
			text-align: center;
			&-li{
				.col(4);
				.become-col(6, 720);
				.become-col(12, 550);
				&:hover{
					.subnav-title-wrapper{
						background-color: @color-orange;
					}
					.subnav-title{
						color: @color-w;
					}
					.subnav-img-wrapper-bg{
						.rgba(@color-orange-t, 0.25);
						background-color: @result;
					}
				}
				&:last-child{
					.subnav-border{
						.rgba(@color-orange-t, 0.7);
						border-right: 1px dashed @result;
					}
				}
			}
			&-title{
				&-wrapper{
					margin-right: auto;
					margin-left: auto;
					max-width: 250px;
					.rgba(@color-orange-t, 0.7);
					background-color: @result;
					border: 1px solid @color-orange;
				}
			}
			&-border{
				.rgba(@color-orange-t, 0.7);
				border-left: 1px dashed @result;
				border-right: none;
			}
			&-img{
				&-dashed{
					margin: 0 auto;
					max-width: 190px;
					border: 1px dashed @color-orange;
				}
				&-wrapper-bg{
					.transition(background-color .3s);
					border-radius: 50%;
					padding: 10px;
					margin: 0 auto;
					max-width: 190px;
				}
			}
			&-fleche{
				.icon.icon-fleche-droite{
					color: @color-orange;
					border: 1px solid @color-orange;
				}
			}
		}
	}
	/*text*/
	h3, .h3{
		color: @color-orange;
	}
	p a {
		color: @color-orange;
		&:before {
			background: @color-orange;
		}
	}
	ul li{
		&:before{
			color: @color-orange;
		}
	}
	.bloc-de-contact{
		p{
			
		}
		a{
			color: @color-w;
		}
	}
}