/*!** common ***/

/************** COMMUN ********/
body{
	font-family: 'adelya-webfont', Helvetica, Arial, sans-serif;
	margin:0;
	background-image: url('../images/texture.png');	
	//attention
	overflow-x: hidden;
	//text-rendering: optimizeLegibility;
}

html{
	overflow-x:hidden;
}

*{
	moz-osx-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
}

a {
	background-color: transparent;
	&:active, &:hover, &:focus{
		outline: 0;
	}
}

p, ul, ol, li, thead, td, th, input, {

}
img{
	display: block;
	max-width: 100%;
	height: auto;
	outline: none;
	border: none;
}
iframe{
	display: block;
	
	max-width: 100%;
	margin: auto;
}

#content{
	opacity:0;
	.transition(all .9s ease);
	&.loaded{
		.opacity(1);
	}
}


main{
	display: block;
	position: relative;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	//.container;
	width: 80%;
	max-width: @max-width;
	@media(max-width: 550px){
		width: 100%;
		padding-right: 5px;
		padding-left: 5px;
	}
}

.single-adelya_actualites{
	main{
		max-width: 1250px;
		width: 60%;
		@media(max-width: 1250px){
			width: 80%;
		}
		@media(max-width: 1250px){
			width: 90%;
		}
		@media(max-width: 720){
			width: 95%;
		}
		@media(max-width: 550px){
			width: 100%;
		}
	}
}

.cursor{
	cursor: pointer;
}
.clearfix{
	&:after{
		clear: both;
	}
	&:before{
		content: "";
		display: table;
	}
}
.g{
	&--full{
		display: block;
		width: 100%;
	}
}

.styleguide__color{
	&-list{
		margin-bottom: 104px;
		li{
			text-align: center;
			border-bottom: 52px solid;
			margin-bottom: 26px;
			position: relative;
			&.large{
				border-bottom: 104px solid !important;
			}
		}
	}
}

.home .footer .title-trace{
	display:none;
}

.vc_row{
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.color{
	&--01{
		color: @color--01;
	}
	&--02{
		color: @color--02;
	}
	&--03{
		color: @color--03;
	}
	&--04{
		color: @color--04;
	}
	&--05{
		color: @color--05;
	}
	&--06{
		color: @color--06;
	}
	&--07{
		color: @color--07;
	}
	&--08{
		color: @color--08;
	}
	&--09{
		color: @color--09;
	}
	&--10{
		color: @color--10;
	}
}

.green-background{
	background-color: @color-green;
	&:hover{
		background-color: lighten(@color-green, 5);
	}
}
.red-background{
	background-color: @color-red;
	&:hover{
		background-color: lighten(@color-red, 5);
	}
}
.orange-background{
	background-color: @color-orange;
	&:hover{
		background-color: lighten(@color-orange, 5);
	}
}

.icon-render{
	font-family: 'adelya-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}
.download-btn{
	.btn-orange-reverse();
	position: relative;
	font-size: 14px;
	margin-top: 25px;
	.rgba(@color-orange-t);
	background-color: @result  !important;
	&:before{
		color: @color-w;
		position: absolute;
		top: 12px;
		bottom: 0;
		margin: auto;
		font-size: 20px;
	}
	a{
		.adelya-b();
		color: @color-w;
		vertical-align: middle;
		padding-left: 35px;
	}
	&:hover{
		background-color: transparent !important;
		&:before{
			color: @color-orange !important;
		}
		a{
			color: @color-orange !important;
		}
	}
}
.lien-btn{
	position: relative;
	display: inline-block;
	.btn-orange();
	font-size: 14px;
	line-height: 48px;
	margin-top: 25px;
	&:before{
		position: absolute;
		top: -1px;
		bottom: 0;
		margin: auto;
		font-size: 20px;
	}
	a{
		.adelya-b();
		color: @color-w;
		vertical-align: middle;
		padding-left: 35px;
	}
	&:hover{
		a{
			color: @color-orange;
		}
	}
}

.nav-langue{
	&:before{
		position: absolute;
		top: 4px;
		left: 10px;
		font-size: 16px;
	}

	& select::-ms-expand {
		display: none;
	}

	.icon-triangle-plein{
		position: absolute;
		top: 0;
		right: 19px;
		bottom: 0;
		font-size: 10px;
		transform: rotate(90deg);
		-oz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);

	}
}
#qtranxs_select_qtranslate-chooser{
	position: relative;
	z-index: 30;
	display: block;
	border: 1px solid @color-grey;
	border-radius: 20px;
	background-color: transparent;
	padding: 3px 30px 3px 35px;
	text-align: right;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-oz-appearance: none;
	&:focus{
		outline: none;
	}
}
article > div > div:nth-child(1){
	padding-top: 65px;
	& > div > div > div > div, & > div > div > div > h2{
		padding-top: 0;
	}
}
.post-type-archive-adelya_actualites{
	article > div > div:nth-child(1){
		padding-top: 0;
	}
}
article > div > div:nth-child(1) > div > div > div > div > h2{
	padding-top: 0;
}
.home article > div > div:nth-child(1){
	padding-top: 0;
}
.home > div > div:nth-child(3) > div > div > div > div > h2{
	padding-top: 0;
}

article > div > div:nth-child(1) > div > div > div > div > div > h2:nth-child(1){
	padding-top: 0;
}
#post-308 > div > div:nth-child(2) > div > div > div > div.wpb_text_column.wpb_content_element > div > h3{
	margin-top: 0;
	padding-top: 0;
}
#post-308 > div > div:nth-child(1) > div:nth-child(2) > div > div > div > div > p{
	margin-top: 0;
}


#cookies{
	@media(max-width: 550px){
		a{
			padding: 1px 5px !important;
		}
	}
}
.bloc-gmap-content{
	@media(max-width: 680px){
		height: 300px !important;
	}
}
.calltoscroll{
	.transition(opacity .3s);
	position: absolute;
	.opacity(0);
	top: 0;
	right: 50px;
	margin: auto;

	width: 50px;
	height: 50px;
	line-height: 55px;

	border-radius: 50%;

	color: @color-w;

	font-size: 18px;
	text-align: center;
	vertical-align: middle;

	border: 1px solid @color-w;

	-moz-animation: bounce 2s 5s infinite;
	-webkit-animation: bounce 2s 5s infinite;
	animation: bounce 2s 5s infinite;
}

.wsp-pages-list, .wsp-adelya_actualitess-list{
	li{
		a{
			color: @color-grey-nav;
			&:visited{
				color: @color-orange;
			}
			&:hover{
				color: @color-red !important;
			}
		}
	}
}

.vc_box_border_circle{
	border: 1px dashed @color-red !important;
	padding: 15px !important;
}

.page-id-42 #pour-qui .wpb_column{
	@media (max-width:768px) {
		width:100%;
	}
}


.wpb_text_column figure{
	@media (max-width:550px) {
		max-width: 100%;
	}
}