/*** Fichier destiné à l'import de font et aux mixins associés ***/


@font-path : '/wp-content/themes/adelya/public/fonts';

.fontface(@font-path, 'adelya-bolditalic-webfont');
.fontface(@font-path, 'adelya-extralight-webfont');
.fontface(@font-path, 'adelya-extralightitalic-webfont');
.fontface(@font-path, 'adelya-italic-webfont');
.fontface(@font-path, 'adelya-light-webfont');
.fontface(@font-path, 'adelya-lightitalic-webfont');
.fontface(@font-path, 'adelya-medium-webfont');
.fontface(@font-path, 'adelya-mediumitalic-webfont');
.fontface(@font-path, 'adelya-webfont');
.fontface(@font-path, 'adelya-bold-webfont');

.fontface(@font-path, 'fabfeltscript-bold-webfont');

.fab(){
	font-family : 'fabfeltscript-bold-webfont';
	font-weight: normal;
	text-rendering: optimizeSpeed;
	-webkit-text-size-adjust: 100%;
}

.adelya-m(){
	font-family: 'adelya-medium-webfont';
	font-weight: normal;
	text-rendering: optimizeSpeed;
	-webkit-text-size-adjust: 100%;
}

.adelya-l(){
	font-family: 'adelya-light-webfont';
	font-weight: 100;
	text-rendering: optimizeSpeed;
	-webkit-text-size-adjust: 100%;
}

.adelya-b(){
	font-family: 'adelya-bold-webfont';
	font-weight: normal;
	text-rendering: optimizeSpeed;
	-webkit-text-size-adjust: 100%;
}

.adelya-r(){
	font-family: 'adelya-webfont';
	text-rendering: optimizeSpeed;
	-webkit-text-size-adjust: 100%;
}


