/*** Fichier destiné aux styles des titres ***/


//------ H1 -------------------------------//
h1, .h1{
	color: @color-grey-h2;
	.fs(30);
	line-height: 30px;
	color: @color-grey-h2;
	.adelya-b();
	@media (max-width:992px){
		.fs(25);
		.lh(20);
	}
	@media (max-width:768px){
		.fs(23);
		.lh(20);
	}
}

//------ H2 -------------------------------//
h2, .h2{
	text-transform: uppercase;
	position: relative;
	.fs(23);
	line-height: 24px;
	color: @color-grey-h2;
	.adelya-b();
	padding-top: 35px; 
	margin: 0;

	@media (max-width:992px){
		.fs(19);
		line-height: 20px;
	}
	@media (max-width:768px){
		.fs(21);
		line-height: 21px;
	}
}

//------ H3 -------------------------------//
h3, .h3{
	.fs(21);
	line-height: 25px;
	color: @color-red;
	.adelya-r();
	@media (max-width:992px){
		.fs(22);
		line-height: 24px;
	}
	@media (max-width:768px){
		.fs(20);
		line-height: 22px;
	}
}
.qui-somme-nous{
	h3, .h3{
		color: @color-green;
	}
}

//------ H4 -------------------------------//
h4, .h4{
	.fs(16);
	.lh(18);
	color: @color-grey-h2;
	.adelya-b();
	@media (max-width:768px){
		.fs(10);
		.lh(16);
	}
}

//------ H5 -------------------------------//
h5, .h5{
	.fs(16);
	.lh(18);
	color: @color-grey-h2;
	.adelya-b();
	@media (max-width:768px){
		.fs(10);
		.lh(14);
	}
}

//------ H6 -------------------------------//
h6, .h6{
	.fs(15);
	.lh(18);
	color: @color-grey-h2;
	.adelya-b();
	@media (max-width:768px){
		.fs(10);
		.lh(16);
	}
}


//------ AUTRES TITRES --------------------//


//------ AUTRES ELEMENTS ------------------//
.clearfix{
	&:before,
	&:after {
		content:"";
		display:table;
	}
	&:after {
		clear:both;
	}
	& {
		zoom:1; /* For IE 6/7 (trigger hasLayout) */
	}
}
p{
	.clearfix();
	.fs(18);
	line-height: 25px;
	.adelya-r();
	padding: 0;
	margin-bottom: 0;

	color: @color-grey-p;

	a{
		.adelya-b();
		color: @color-red;
		.underline-reveal-hover(@color-red);
		height: 20px;
		&:visited{
			color: @color-red;
		}
	}
	strong{
		.adelya-b();
	}
	em{
		font-family: 'adelya-italic-webfont';
	}
}
.single-adelya_actualites{
	p{
		padding:  initial;
		//margin: initial;
	}
}

ul{
	li{
		.icon-puce();
		.adelya-r();
		color: @color-grey-list;
		.fs(17);
		padding: 2px 0;
		&:before{
			.icon-render();
			padding-right: 10px;
			vertical-align: middle;
			color: @color-red;
			.fs(12);
		}
		a:visited{
			color: @color-red;
		}
		a{
			color: @color-red;
			&:hover{
				text-decoration: underline;
			}
		}
		ul{
			li{
				.icon-puce2();
				&:before{
					.icon-render();
					padding-right: 10px;
					vertical-align: middle;
					color: @color-red;
					.fs(12);
				}
			}
		}
	}
}

ul{ list-style: none; }
ul ul, ol ul{ list-style: none; }

.align{
	&center,
	&right,
	&left{
		display: block;
		margin-bottom: 15px !important;
	}
	&center{
		margin: auto
	}
	&right{
		float: right;
		margin-left: 60px;
	}
	&left{
		float: left;
		margin-right: 60px;
	}
	&right,
	&left{
		@media(max-width: 550px){
			float: none;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 35px !important;
		}
	}
}
.wrapper_img.alignright, .wrapper_img.alignright .alignright{
	margin-bottom: 0 !important;
}
.parent-pageid-42{
	.wrapper_img.align{
		&center,
		&right,
		&left{
			border: 1px dashed @color-red;
			border-radius: 50%;
			overflow: hidden;
			& img{
				border-radius: 50%;
				padding: 10px;
				width: 100%;
			}
		}
	}
}

#qtranxs_select_qtranslate-chooser{
	cursor: pointer;
}