/*!** Fichier destiné à l'import de font d'icones et aux mixins associés ***/


//------ IMPORT  -----------------------------//
@iconfont : 'adelya-icon';

@icon-pinterest: "\e900";
@icon-linkedin: "\e901";
@icon-eye: "\e000";
@icon-paper-clip: "\e001";
@icon-link: "\e005";
@icon-bell: "\e006";
@icon-unlock: "\e008";
@icon-unlock2: "\e009";
@icon-image: "\e010";
@icon-signal: "\e011";
@icon-target: "\e012";
@icon-clipboard: "\e013";
@icon-clock: "\e014";
@icon-camera: "\e017";
@icon-video: "\e018";
@icon-monitor: "\e021";
@icon-server: "\e022";
@icon-cog: "\e023";
@icon-heart: "\e024";
@icon-paper: "\e034";
@icon-search: "\e036";
@icon-folder: "\e059";
@icon-cloud: "\e065";
@icon-cloud-upload: "\e066";
@icon-cloud-download: "\e067";
@icon-location-2: "\e071";
@icon-head: "\e074";
@icon-briefcase: "\e075";
@icon-speech-bubble: "\e076";
@icon-globe: "\e078";
@icon-box: "\e079";
@icon-globe2: "\e07a";
@icon-reload: "\e080";
@icon-share: "\e081";
@icon-tag: "\e085";
@icon-bar-graph-2: "\e091";
@icon-pie-graph: "\e092";
@icon-arrow-left: "\e094";
@icon-arrow-right: "\e095";
@icon-arrow-up: "\e096";
@icon-arrow-down: "\e097";
@icon-location_on: "\e0c8";
@icon-ring_volume: "\e0d1";
@icon-bag: "\e106";
@icon-flag: "\e108";
@icon-check: "\e116";
@icon-cross: "\e117";
@icon-archive: "\e121";
@icon-inbox: "\e122";
@icon-outbox: "\e123";
@icon-file: "\e124";
@icon-file-add: "\e125";
@icon-insert_invitation: "\e24f";
@icon-laptop_chromebook: "\e31f";
@icon-phonelink: "\e326";
@icon-local_grocery_store: "\e547";
@icon-bluetooth_audio: "\e60f";
@icon-event_available: "\e614";
@icon-ondemand_video: "\e63a";
@icon-school: "\e80c";
@icon-payment: "\e8a1";
@icon-card_travel: "\e8f8";
@icon-empreinte: "\e902";
@icon-message: "\e903";
@icon-telephone: "\e904";
@icon-noun_43356_cc: "\e905";
@icon-24-heures: "\e906";
@icon-logistique: "\e907";
@icon-triangle: "\e908";
@icon-reseau: "\e909";
@icon-portefeuille: "\e90a";
@icon-caddie: "\e90b";
@icon-cadeau: "\e90c";
@icon-reduction: "\e90d";
@icon-carte-cadeau: "\e90e";
@icon-noun_223228_cc: "\e90f";
@icon-message2: "\e910";
@icon-message-graphique: "\e911";
@icon-graphique: "\e912";
@icon-camembert: "\e913";
@icon-graphique-2: "\e914";
@icon-triangle-plein: "\e915";
@icon-planete: "\e916";
@icon-twitter: "\e917";
@icon-facebook: "\e918";
@icon-rappeler: "\e919";
@icon-nuage: "\e91a";
@icon-uniE919: "\e91b";
@icon-trace: "\e91c";
@icon-puce: "\e91d";
@icon-puce2: "\e91e";
@icon-empreinte2: "\e91f";
@icon-eshop: "\e920";
@icon-fleche-droite: "\e921";
@icon-kdo: "\e922";
@icon-keepInTouch: "\e923";
@icon-pyramide: "\e924";
@icon-rappeler2: "\e925";
@icon-shoppingBag: "\e926";
@icon-telephone2: "\e927";
@icon-trace2: "\e928";
@icon-Trace_keepInT: "\e929";
@icon-triangle2: "\e92a";
@icon-triangle-plein2: "\e92b";
@icon-blog: "\e92c";
@icon-file-pdf-o: "\f1c1";
@icon-file-word-o: "\f1c2";
@icon-file-excel-o: "\f1c3";



//------ MIXINS  -----------------------------//
.iconFont(@name){
	font-family: @iconfont;
	content : @name;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'adelya-icon';
	src:
  url('/wp-content/themes/adelya/public/fonts/iconfont/adelya-icon.ttf?bg9hkb') format('truetype'),
  url('/wp-content/themes/adelya/public/fonts/iconfont/adelya-icon.woff?bg9hkb') format('woff'),
  url('/wp-content/themes/adelya/public/fonts/iconfont/adelya-icon.svg?bg9hkb#adelya-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'adelya-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}

.icon-blog {
    &:before {
        content: @icon-blog;
    }
}
.icon-trace {
    &:before {
        content: @icon-trace;
    }
}
.icon-eye {
    &:before {
        content: @icon-eye;
    }
}
.icon-paper-clip {
    &:before {
        content: @icon-paper-clip;
    }
}
.icon-link {
    &:before {
        content: @icon-link;
    }
}
.icon-bell {
    &:before {
        content: @icon-bell;
    }
}
.icon-unlock {
    &:before {
        content: @icon-unlock;
    }
}
.icon-unlock2 {
    &:before {
        content: @icon-unlock2;
    }
}
.icon-image {
    &:before {
        content: @icon-image;
    }
}
.icon-signal {
    &:before {
        content: @icon-signal;
    }
}
.icon-target {
    &:before {
        content: @icon-target;
    }
}
.icon-clipboard {
    &:before {
        content: @icon-clipboard;
    }
}
.icon-clock {
    &:before {
        content: @icon-clock;
    }
}
.icon-camera {
    &:before {
        content: @icon-camera;
    }
}
.icon-video {
    &:before {
        content: @icon-video;
    }
}
.icon-monitor {
    &:before {
        content: @icon-monitor;
    }
}
.icon-server {
    &:before {
        content: @icon-server;
    }
}
.icon-cog {
    &:before {
        content: @icon-cog;
    }
}
.icon-heart {
    &:before {
        content: @icon-heart;
    }
}
.icon-paper {
    &:before {
        content: @icon-paper;
    }
}
.icon-search {
    &:before {
        content: @icon-search;
    }
}
.icon-folder {
    &:before {
        content: @icon-folder;
    }
}
.icon-cloud {
    &:before {
        content: @icon-cloud;
    }
}
.icon-cloud-upload {
    &:before {
        content: @icon-cloud-upload;
    }
}
.icon-cloud-download {
    &:before {
        content: @icon-cloud-download;
    }
}
.icon-location-2 {
    &:before {
        content: @icon-location-2;
    }
}
.icon-head {
    &:before {
        content: @icon-head;
    }
}
.icon-briefcase {
    &:before {
        content: @icon-briefcase;
    }
}
.icon-speech-bubble {
    &:before {
        content: @icon-speech-bubble;
    }
}
.icon-globe {
    &:before {
        content: @icon-globe;
    }
}
.icon-box {
    &:before {
        content: @icon-box;
    }
}
.icon-globe2 {
    &:before {
        content: @icon-globe2;
    }
}
.icon-reload {
    &:before {
        content: @icon-reload;
    }
}
.icon-share {
    &:before {
        content: @icon-share;
    }
}
.icon-tag {
    &:before {
        content: @icon-tag;
    }
}
.icon-bar-graph-2 {
    &:before {
        content: @icon-bar-graph-2;
    }
}
.icon-pie-graph {
    &:before {
        content: @icon-pie-graph;
    }
}
.icon-arrow-left {
    &:before {
        content: @icon-arrow-left;
    }
}
.icon-arrow-right {
    &:before {
        content: @icon-arrow-right;
    }
}
.icon-arrow-up {
    &:before {
        content: @icon-arrow-up;
    }
}
.icon-arrow-down {
    &:before {
        content: @icon-arrow-down;
    }
}
.icon-location_on {
    &:before {
        content: @icon-location_on;
    }
}
.icon-ring_volume {
    &:before {
        content: @icon-ring_volume;
    }
}
.icon-bag {
    &:before {
        content: @icon-bag;
    }
}
.icon-flag {
    &:before {
        content: @icon-flag;
    }
}
.icon-check {
    &:before {
        content: @icon-check;
    }
}
.icon-cross {
    &:before {
        content: @icon-cross;
    }
}
.icon-archive {
    &:before {
        content: @icon-archive;
    }
}
.icon-inbox {
    &:before {
        content: @icon-inbox;
    }
}
.icon-outbox {
    &:before {
        content: @icon-outbox;
    }
}
.icon-file {
    &:before {
        content: @icon-file;
    }
}
.icon-file-add {
    &:before {
        content: @icon-file-add;
    }
}
.icon-insert_invitation {
    &:before {
        content: @icon-insert_invitation;
    }
}
.icon-laptop_chromebook {
    &:before {
        content: @icon-laptop_chromebook;
    }
}
.icon-phonelink {
    &:before {
        content: @icon-phonelink;
    }
}
.icon-local_grocery_store {
    &:before {
        content: @icon-local_grocery_store;
    }
}
.icon-bluetooth_audio {
    &:before {
        content: @icon-bluetooth_audio;
    }
}
.icon-event_available {
    &:before {
        content: @icon-event_available;
    }
}
.icon-ondemand_video {
    &:before {
        content: @icon-ondemand_video;
    }
}
.icon-school {
    &:before {
        content: @icon-school;
    }
}
.icon-payment {
    &:before {
        content: @icon-payment;
    }
}
.icon-card_travel {
    &:before {
        content: @icon-card_travel;
    }
}
.icon-empreinte {
    &:before {
        content: @icon-empreinte;
    }
}
.icon-message {
    &:before {
        content: @icon-message;
    }
}
.icon-telephone {
    &:before {
        content: @icon-telephone;
    }
}
.icon-noun_43356_cc {
    &:before {
        content: @icon-noun_43356_cc;
    }
}
.icon-24-heures {
    &:before {
        content: @icon-24-heures;
    }
}
.icon-logistique {
    &:before {
        content: @icon-logistique;
    }
}
.icon-triangle {
    &:before {
        content: @icon-triangle;
    }
}
.icon-reseau {
    &:before {
        content: @icon-reseau;
    }
}
.icon-portefeuille {
    &:before {
        content: @icon-portefeuille;
    }
}
.icon-caddie {
    &:before {
        content: @icon-caddie;
    }
}
.icon-cadeau {
    &:before {
        content: @icon-cadeau;
    }
}
.icon-reduction {
    &:before {
        content: @icon-reduction;
    }
}
.icon-carte-cadeau {
    &:before {
        content: @icon-carte-cadeau;
    }
}
.icon-noun_223228_cc {
    &:before {
        content: @icon-noun_223228_cc;
    }
}
.icon-message2 {
    &:before {
        content: @icon-message2;
    }
}
.icon-message-graphique {
    &:before {
        content: @icon-message-graphique;
    }
}
.icon-graphique {
    &:before {
        content: @icon-graphique;
    }
}
.icon-camembert {
    &:before {
        content: @icon-camembert;
    }
}
.icon-graphique-2 {
    &:before {
        content: @icon-graphique-2;
    }
}
.icon-triangle-plein {
    &:before {
        content: @icon-triangle-plein;
    }
}
.icon-planete {
    &:before {
        content: @icon-planete;
    }
}
.icon-twitter {
    &:before {
        content: @icon-twitter;
    }
}
.icon-facebook {
    &:before {
        content: @icon-facebook;
    }
}
.icon-rappeler {
    &:before {
        content: @icon-rappeler;
    }
}
.icon-nuage {
    &:before {
        content: @icon-nuage;
    }
}
.icon-uniE919 {
    &:before {
        content: @icon-uniE919;
    }
}
.icon-puce {
    &:before {
        content: @icon-puce;
    }
}
.icon-puce2 {
    &:before {
        content: @icon-puce2;
    }
}
.icon-empreinte2 {
    &:before {
        content: @icon-empreinte2;
    }
}
.icon-eshop {
    &:before {
        content: @icon-eshop;
    }
}
.icon-fleche-droite {
    &:before {
        content: @icon-fleche-droite;
    }
}
.icon-kdo {
    &:before {
        content: @icon-kdo;
    }
}
.icon-keepInTouch {
    &:before {
        content: @icon-keepInTouch;
    }
}
.icon-pyramide {
    &:before {
        content: @icon-pyramide;
    }
}
.icon-rappeler2 {
    &:before {
        content: @icon-rappeler2;
    }
}
.icon-shoppingBag {
    &:before {
        content: @icon-shoppingBag;
    }
}
.icon-telephone2 {
    &:before {
        content: @icon-telephone2;
    }
}
.icon-trace2 {
    &:before {
        content: @icon-trace2;
    }
}
.icon-Trace_keepInT {
    &:before {
        content: @icon-Trace_keepInT;
    }
}
.icon-triangle2 {
    &:before {
        content: @icon-triangle2;
    }
}
.icon-triangle-plein2 {
    &:before {
        content: @icon-triangle-plein2;
    }
}
.icon-file-pdf-o {
    &:before {
        content: @icon-file-pdf-o;
    }
}
.icon-file-word-o {
    &:before {
        content: @icon-file-word-o;
    }
}
.icon-file-excel-o {
    &:before {
        content: @icon-file-excel-o;
    }
}

