/*** Fichier destiné aux styles des titres ***/

/*color*/

@color-w: #ffffff;
@color-b: #000000;

@color-grey: #503636;
@color-grey-nav: #504949;
@color-grey-nav-icon: #666666;
@color-grey-punchline: @color-grey-nav;

@color-red: #c12e2f;
@color-red-light: #ec615f;
@color-red-light-t : #e21d1b;
@color-red-dark: #c12e2f;
@color-red-dark-t : #cd0608;

//****** orange ******//
@color-orange: #f77257;
@color-orange-t: #f43610;
@color-nav-orange: #f77257;

//******* vert ********//
@color-green: #5abdae;
@color-green-t: #1eac96;

@color-nav-green: #1ba58f;

//******* blue ********//
@color-blue: #61c5b5;
@color-blue-trace: #8ed2c8;


@color-orange-dark: #b8351b;
@color-type: @color-grey;
@color-background-nav-second: #666666;

@color-red-slider: #e21d1b;
@color-red-slider-btn: #ec6665;

//****************** couleur nav
@color-nav-bg-btn-red-light: #ec615f;
@color-nav-bg-btn-red: #c12e2f;
@color-nav-bg-btn-orange: #ff7256;
@color-nav-bg-btn-green: @color-green;
@color-hover-nav-second: @color-red;


//****************** couleur nav
@color-footer-link-fb: #2d47b7;
@color-footer-link-tw: #0f92a6;
@color-footer-link-blog: #e21d1b;


@color-grey-h2: #504949;
@color-grey-list: #504949;
@color-grey-p: #504949;
@color-grey-btn: #504949;
@color-a: #be0001;
@color-green: #079d86;

@color-trace: #b72221;
@color-client-listing-title: #c12e2f;



@color-border-bloc-news: #b0b0b0;
@color-border-popup-img: #d3d1d1;


@color-navigation-temoignages: #a7a4a4;

/*Partenaires*/
@color-partenaires-bg-t: #504949;
@color-partenaires-type: #504949;

/*Size*/
@screen-xs: 450px;
@screen-small: 720px;
@screen-large: 1250px;
@screen-udge: 1950px;

@max-width: 1650px;

/* autre (transitions, hover etc..) */

@color--titre: red;

@color--01: #00ff00;

@color--02: #00ff00;

@color--03: #00ff00;

@color--04: #00ff00;

@color--05: #00ff00;

@color--06: #00ff00;

@color--07: #00ff00;

@color--08: #00ff00;

@color--09: #00ff00;

@color--10: #00ff00;

// Browser Prefixes - Which CSS prefixes should be used?
@webkit: true;
@moz: true;
@ms: true;
@o: true;