/*** Fichier destiné aux styles des titres ***/

/*color*/
@w: @color-w;
@color-w: #ffffff;
@color-b: #000000;

@color-grey: #503636;
@color-grey-nav: #504949;
@color-grey-nav-icon: #666666;
@color-grey-punchline: @color-grey-nav;

@color-red: #be0001;
@color-red-light: #f0413e;
@color-red-light-t : #f01311;
@color-red-dark: #be0001;
@color-red-dark-t : #cd0608;

//****** orange ******//
@color-orange: #fe5a3a;
@color-orange-t: #ff2a00;
@color-nav-orange: #fe5a3a;

//******* vert ********//
@color-green: #00aea4;
@color-green-t: #00948b;

@color-nav-green: #00aea4;

//******* blue ********//
@color-blue: #61c5b5;
@color-blue-trace: #8ed2c8;


@color-orange-dark: #b8351b;
@color-type: @color-grey;
@color-background-nav-second: #666666;

@color-red-slider: #f01311;
@color-red-slider-btn: #ec6665;

//****************** couleur nav
@color-nav-bg-btn-red-light: @color-red-light;
@color-nav-bg-btn-red: @color-red-dark;
@color-nav-bg-btn-orange: @color-orange;
@color-nav-bg-btn-green: @color-green;
@color-hover-nav-second: @color-red;


//****************** couleur nav
@color-footer-link-fb: #2d47b7;
@color-footer-link-tw: #0f92a6;
@color-footer-link-blog: #f01311;


@color-grey-h2: #504949;
@color-grey-list: #504949;
@color-grey-p: #504949;
@color-grey-btn: #504949;
@color-a: @color-red;

@color-trace: #b72221;
@color-client-listing-title: @color-red;



@color-border-bloc-news: #b0b0b0;
@color-border-popup-img: #d3d1d1;


@color-navigation-temoignages: #a7a4a4;

/*Partenaires*/
@color-partenaires-bg-t: #504949;
@color-partenaires-type: #504949;

/*Size*/
@screen-xs: 450px;
@screen-small: 720px;
@screen-large: 1250px;
@screen-udge: 1950px;

@max-width: 1650px;

/* autre (transitions, hover etc..) */

@color--titre: red;

@color--01: #00ff00;

@color--02: #00ff00;

@color--03: #00ff00;

@color--04: #00ff00;

@color--05: #00ff00;

@color--06: #00ff00;

@color--07: #00ff00;

@color--08: #00ff00;

@color--09: #00ff00;

@color--10: #00ff00;

// Browser Prefixes - Which CSS prefixes should be used?
@webkit: true;
@moz: true;
@ms: true;
@o: true;

// BLOG

@blog: #3cbfb8; 
// rgba(0,174,164);

@blog-md: #1eb6ae;
@blog-dk: #00958c;
@blog-spec: #fe5a3a;
@font: #504949;
@footer: #504949;