/*!** Fichier destiné aux styles des boutons ***/
.btn-base{
	.transition(all .3s ease);
	display: inline-block;
	.adelya-b();
	.fs(13);

	line-height: 1.1;
	border-radius: 48px/2;

	text-transform: uppercase;

	background-color: transparent;

	padding: 20px 30px 16px;
}
.button{
	&.line{
		display: inline-block;

		height: 48px;
		line-height: 50px;
		border-radius: 48px/2;

		background-color: rgba(255,255,255,0.1);

		text-transform: uppercase;

		font-family: 'adelya-bold-webfont';
		font-size: 13px;

		color: @color-w;
		.transition(all .3s ease);
		padding: 0 30px;

		border: 1px solid rgba(255,255,255,0.4);

		&:hover, &:focus{
			text-decoration: none;
			background-color: rgba(255,255,255,0.9);
			.rgba(@color-red-light-t, 0.7);
			color: @result;
		}

	}
	&.line.background{

	}
}

.btn-red{
	.transition(all .3s ease);
	
	.btn-base();
	
	color: @color-red;

	.rgba(@color-red-light-t, 0.7);
	border: 1px solid @result;

	&:hover, &:focus{
		text-decoration: none;
		.rgba(@color-red-light-t, 0.7);
		background-color: @result;
		border: 1px solid transparent;
		color: @color-w;
	}
}

.btn-red-reverse{
	cursor: pointer;
	.transition(all .3s ease);
	
	.btn-base();
	
	color: @color-w;

	background-color: @color-red;

	.rgba(@color-red-light-t, 0.7);
	border: 1px solid @result;

	&:hover, &:focus{
		text-decoration: none;
		background-color: transparent;
		color: @color-red;
	}
}

.btn-orange{
	.transition(all .3s ease);
	
	.btn-base();
	
	color: @color-orange;

	.rgba(@color-orange-t, 0.7);
	border: 1px solid @result;

	&:hover, &:focus{
			text-decoration: none;
		.rgba(@color-orange-t, 0.7);
		background-color: @result;
		color: @color-w;
		border: 1px solid transparent;
	}
}

.btn-orange-reverse{
	.transition(all .3s ease);
	display: inline-block;
	.adelya-b();
	.fs(13);

	.btn-base();

	.rgba(@color-orange-t, 0.7);
	background-color: @result;

	border: 1px solid transparent;

	&:hover, &:focus{
			text-decoration: none;
		border: 1px solid @color-orange;
		background-color: transparent;
		color: @color-orange;
	}
}

.btn-white{
	.transition(border .3s ease);
	.transition(background-color .3s ease);

	.btn-base();

	background-color: @color-w;

	color: @color-grey-btn;
	border: 1px solid @color-w;

	&:hover, &:focus{
			text-decoration: none;
		.transition(color .3s ease);
		border: 1px solid @color-w;
		background-color: transparent;
		color: @color-w;
	}
}

.btn-white-reverse{
	.transition(border .3s ease);
	.transition(background-color .3s ease);
	.transition(color .3s ease);

	.btn-base();

	color: @color-w;
	border: 1px solid @color-w;

	&:hover, &:focus{
		text-decoration: none;
		.transition(color .3s ease);
		color: @color-red-light !important;
		border: 1px solid @color-w;
		background-color: @color-w;
	}
}
