/*!** Fichier destiné aux styles des formulaires ***/

/************** INPUTS ***************/
input, textarea{
	&:focus{
		outline-offset: 0;
		box-shadow: none;
		outline:none;
		text-shadow:none;
	}
}
//----  textarea
textarea{

}

//----  label
label{

}

//---- autres
.wpcf7-form{
	.form{
		&-wrapper{
			display: block;
			width: 35%;
			margin: 0 auto;
			@media(max-width: 800px){
				width: 90%;
			}
		}
		&-section{
			&.first-child{
				margin-top: 0;
			}
			margin: 28px auto;
			& .send{
				text-align: center;
				.ajax-loader{
					display: none;
					margin: auto;
				}
			}
			&.message{
				margin-bottom: 0;
			}
		}
	}

	span.wpcf7-form-control-wrap.referrer, .referrer[name="referrer"]{
		display: none;
	}
	.wpcf7-response-output{
		&.wpcf7-validation-errors{
			border-color: @color-red;
		}
		&.wpcf7-mail-sent-ok{
			border-color: @color-green;
		}
	}
	label{
		display: inline-block;
		width: 280px;
		margin-left: -280px;
		text-align: right;
		padding: 0 30px;
		vertical-align: top;
		.fab();
		font-size: 20px;
		@media(max-width: 800px){
			padding: 0 15px 0 0;
			margin-left: 0px;
			width: 30%;
		}
		@media(max-width: 520px){
			padding: 0 30px;
			margin-left: 0px;
			width: 100%;
			text-align: left;
		}
		&.select{
			vertical-align: middle;
			color: @color-red;
			font-size: 40px;
		}
	}
	input[type="text"], input[type="tel"], input[type="email"],{
		.transition(all .3s);
		.transition(all .3s);
		width: 100%;
		.rgba(@color-red-light-t, 0.15);
		@color-bg-input : @result;
		border: 1px solid transparent;
		background-color: @color-bg-input;

		padding: 0 18px;

		min-height: 43px;
		border-radius: 21px;
		@media(max-width: 800px){
			width: 70%;
		}
		@media(max-width: 520px){
			width: 100%;
		}
		&:focus{
			outline: none;
			border: 1px solid @color-red;
			background-color: transparent;
		}
		&.wpcf7-not-valid{
			.rgba(@color-red-light-t, 0.15);
			background-color: @result;
		}
	}
	&[novalidate="novalidate"]{
		&[aria-invalid="false"]{
			color: @color-w;
			background-color: @color-red-light-t;
		}
	}
	select{
		//-webkit-appearance: none;
		padding: 0 30px;
		width: 100%;
		color: @color-grey;

		border: 1px solid @color-grey;
		height: 43px;
		border-radius: 21px;
		@media(max-width: 800px){
			width: 70%;
		}
		@media(max-width: 520px){
			width: 100%;
		}
		&:focus{
			outline: none;
		}
	}
	textarea{
		width: 100%;
		.rgba(@color-red-light-t, 0.15);
		@color-bg-input : @result;
		border: 1px solid @color-bg-input;
		background-color: @color-bg-input;
		
		border-radius: 21px;
		padding: 18px;
		@media(max-width: 800px){
			width: 70%;
		}
		@media(max-width: 520px){
			width: 100%;
		}
		&:focus{
			outline: none;
			border: 1px solid @color-red;
			background-color: transparent;
		}
	}
	span[role="alert"]{
		text-align: right;
		.fab();
		font-size: 14px;
		& + input{
			background-color: green !important;
		}
	}
}

/************** BOUTON VALIDER ***************/
input[type="submit"] {
	.btn-red-reverse();
	-webkit-appearance: none;
	&:hover{

	}
}

/************** MESSAGES D'ERREUR ***************/
.cms_forms_error_msg, .cms_forms_msg{
}
