.list{
	&-reset{
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			&:before{
				content: none;
			}
			a{
				color: inherit;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	&-inline{
		li{
			display: inline-block;
		}
	}
}
