.popup{
	&-overlay {
		.transition(all .3s);
		filter: alpha(opacity=75);
		-moz-opacity: .75;
		opacity: .75;
		background-color: #c0c0c0;
		position: absolute;
		z-index: 9999;
/*		top: 0;
		right: 0;
		bottom: 0;
		left: 0;*/
		margin: auto;
		width: 100%;
		height: 100%;
	}
	&-square {
		.opacity(0);
		.transition(all .3s);
		position: absolute;
		z-index: 9999;
/*		top: 0;
		right: 0;
		bottom: 0;
		left: 0;*/
		margin: auto;
		padding: 25px 40px;
		background-color: @color-w;
		border: #f9f9f9;
		width: 100%;
		max-width: 700px;
		min-height: 350px;
		height: 350px;
	
		border-radius: 15px;
		border-top: 1px solid @color-grey-nav;
		border-right: 1px solid @color-red-dark;
		border-bottom: 1px solid @color-red-dark;
		border-left: 1px solid @color-grey-nav;
		.rgba(@color-red-dark, 1);
		box-shadow: 8px 7px 0px 0px @result;

		text-align: center;
	}
	&-content{
		position: relative;
		padding-top: 35px;
	}
	&-img{
		display: block;
		width: auto;
		max-height: 120px;
		margin: auto;
	}
	&-title{
		text-transform: uppercase;
		.adelya-b();
		.fs(21);

		color: @color-grey-p;
		padding: 0;
		margin: 0;

		&:before{
			content: '';
			display: block;
			width: 215px;
			height: 1px;
			margin: auto;
			margin-top: 10px;
			margin-bottom: 25px;

			background-color: @color-border-popup-img;
		}
	}
	&-txt{
		.adelya-r();
		.fs(16);

		color: @color-grey-p;
		text-align: left;
	}
	&-link{
		.adelya-b();
		color: @color-orange;
		.underline-reveal-hover(@color-orange);
		height: 20px;
		&-content{
			text-align: left;
		}
	}
	&-body{
		-webkit-overflow-scrolling: touch;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
	&-close{
		position: absolute;
		top: 25px;
		right: 40px;
		.fs(35);
		color: @color-grey-p;
	}
}
