/*!** Fichier destiné aux styles du slider ***/
.slider {
	&-container{
		position: relative;
	}
	&-ul{
		padding: 0;
		margin: 0;
		min-height:480px;
		overflow:hidden;

		@media(max-width: 1400px){
			min-height: 410px;
		}
		@media(max-width: 768px){
			min-height: 100;
		}
	}
	&-li{
		display: none;
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		display: inline-block;
		text-align:center;
		.opacity(0);
		.transition(all .4s ease);
		visibility: hidden;
		&:before{content: none;}
		&._active{
			.opacity(1);
			visibility: visible;
		}
		&.orange{
			.rgba(@color-orange-t, 0.7);
			background-color: @result;
		}
		&.rouge_clair{
			.rgba(@color-red-light-t, 0.7);
			background-color: @result;
		}
		&.rouge{
			.rgba(@color-red-dark-t, 0.7);
			background-color: @result;
		}
	}
	
	&-content{
		display: inline-block;
		line-height:normal;
		padding: 80px 0 40px 0;
		text-align: left;
		.fs(0);
		width: 80%;
		max-width: @max-width;
		&--txt{
			.col(7,0);
			.become-col(12,768);
			line-height:normal;
			vertical-align:middle;
			text-align: left;
			.animate(fadeOutDown, 0.5s);
		}
		&--img{
			.col(5,0);
			line-height:normal;
			vertical-align:middle;
			text-align:center;
			.animate(fadeOutLeft, 1s);
			margin-top: -30px;
			img{
				margin: auto;
				width: 60%;
				max-width: 300px;
			}
			@media(max-width: 768px){
				display: none;
			}
		}
		h1{
			margin:0;
			padding: 0;
			color: @color-grey;
			text-transform: uppercase;
			.adelya-b();
			font-size: 45px;
			.fs-responsive(40,1300);
			.fs-responsive(35,992);
			padding-bottom: 25px;
			@media(max-width: 1300px){
				padding-bottom: 10px;
			}
			@media(max-width: 992px){
				padding-bottom: 20px;
			}
		}
		h2{
			display: block;
			text-transform: uppercase;
			.adelya-b();
			font-size: 35px;
			.fs-responsive(29,1600);
			.fs-responsive(23,1300);
			.fs-responsive(20,992);
			line-height: 35px;
			color: @color-w;
			padding: 0;
			padding-bottom: 5px;
			margin:0;

			@media(max-width: 1300px){
				line-height: 22px;
			}
			@media(max-width: 992px){
				padding-bottom: 20px;
			}
		}
		p{
			display: block;
			.adelya-l();
			font-size: 18px;
			line-height: 20px;
			color: @color-w;
			margin-top:0;
			margin-bottom:0;
		}
	}
	&-li._active{
		display: block;
		@media(max-width: 768px){
			position: relative;
		}
		.slider-content--txt{
			.animate(fadeInUp, 0.5s, 0.8s);
		}
		.slider-content--txt h1{
			.animate(fadeInUp, 0.5s, 0.2s);
		}
		.slider-button{
			.animate(fadeInUp, 0.5s, 1s);
		}
		.slider-content--img{
			.animate(fadeInRight, 0.5s, 1.2s);
		}	
	}
	&-button{
		display: block;
		width: 100%;
		text-align: left;
		line-height: normal;
		padding-top: 25px;
		.animate(fadeOutDown, 0.5s);

		@media(max-width: 768px){
			padding-bottom: 65px;
		}
	}
	&-link{
		display: inline-block;
		margin: 0 auto;
	}
	//************ naviagtion dot *******//
	&-navigation{
		position: absolute;
		bottom:20px;
		display: inline-block;
		width:100%;
		text-align: center;
		&--ol{
			margin:0;
			list-style-type: none;
			padding-left:0;
			display: inline-block;
		}
		&--li{
			cursor:pointer;
			display: inline-block;
			color: transparent;
			padding: 10px;
			height: 32px;
			&:before{
				content:'';
				display: block;
				width: 18px;
				height: 18px;
				.rgba(@color-grey, 0.4);
				background-color: @result;
				.border-radius(50%);
				.transition(all .4s ease);	
			}
			&._active:before{
				.rgba(@color-grey, 0.75);
				background-color: @result;
			}
		}
	}
}
