.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading{
	background-color: transparent !important;
	border-top: 1px dashed @color-red !important;
	border-right: none !important;
	border-bottom: none !important;
	border-left: none !important;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body{
	background-color: transparent !important;
	border: none !important;
}

.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left.vc_tta-panel-title>a{
	padding-left: 0 !important;
}

.vc_tta.vc_general .vc_tta-panel-title>a{
	padding-top: 35px !important;
	padding-bottom: 35px !important;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a,
.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title>a{
	.adelya-b();
	.fs(21);
	color: @color-grey;
}

.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon{
	right: 20px !important;
	left: auto !important;
	width: 35px !important;
	height: 35px !important;
	&:after, &:before{
		border-color: @color-red !important;
	}
} 

.vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon{
	&:before {
		content: none !important;
	}
}

.vc_tta-panel-body{
	padding-top: 0 !important;
	padding-right: 40px !important;
	padding-bottom: 40px !important;
	padding-left: 0 !important;
}

.vc_tta.vc_general .vc_tta-panel.vc_active{
	border-bottom: 1px dashed @color-red !important;
}

.vc_tta-panel-heading span.vc_tta-title-text{
	display: block;
	width: 80%;
}
.vc_tta.vc_general{
	.wpb_wrapper{
		h3{
			padding-top: 0;
			margin-top: 0;
		}
	}
}

.margin-for-shortcode{
	padding: 0px 0 40px;
}