.bloc-de-contact{
	position: relative;
	display: block;
	margin: auto;
	.row();
	padding: 55px 0 45px;
	text-align: center;

	.rgba(@color-red-light-t , 0.7);
	background-color: @result;
	@media(max-width: 720px){
		padding: 30px 15px;
	}

	&-content{
		p{
			.adelya-l();
			margin: 0;
			padding: 0;
			color: @color-w;
			a{
				color: @color-w;
			}
			strong{
				color: @color-w;
			}
		}
	}
	&-link{
		.btn-white-reverse();
		margin: 0 35px;
		padding-right: 45px;
		border-radius: 40px;
		@media(max-width: 750px){
			display: block;
			margin: 15px 0px;
		}
		.icon{
			font-size: 22px;
			vertical-align: middle;
			color: @color-red;
			margin-right: 15px;
		}
		&-wrapper{
			padding-top: 25px;
		}
		&-content{
			display: inline-block;
			a[href^=tel]{
				display: none;
			}
		}
	}

	a[href^=tel] {
		//display: none;
		vertical-align: baseline;
	}
}

.is-mobile{
	.bloc-de-contact{
		&-link-content{
			a[href^=tel] {
				display: inline-block !important;
			}
		}
	}
}