.bloc-gmap{
	position: relative;
	display: block;
	margin: auto;
	.row();
	.margin-for-shortcode();

	@media(max-width: 680px){
		padding-top: 0;
	}
	&-txt{
		position: absolute;
		top: 0;
		left: 10%;
		.rgba(@color-red-dark-t, 0.7);
		background-color: @result;
		z-index: 99999;
		padding: 70px;
		@media(max-width: 680px){
			position: relative;
			display: block;
			left: 0;
			right: 0;
			margin: auto;
			width: 100%;
			padding: 30px;
		}
		p{
			.adelya-b();
			color: @color-w;
			padding: 0;
			margin: 0;
		}
		a{
			color: @color-w;
			&:visited, &:focus{
				color: @color-w;
			}
		}
	}
	&-content{
		border-top: 1px dashed @color-red-dark-t;
		border-bottom: 1px dashed @color-red-dark-t;
	}
}
