.boule{
	position: relative;
	.row();
	text-align: center;
	@media(max-width: 980px){
		//overflow: hidden;
	}
	&-svg{
		.transition(all .3s ease);
		.animate(fadeInUp);
		.col(6);
		.become-col(12, 980);
	}
	&-img{
		.col(2.5);
		position: absolute;
		top: 0; right: auto; bottom: 0; left: auto;
		margin: auto;
		img{
			position: absolute;
			top: 0; right: auto; bottom: 0; left: auto;
			margin: auto;
			width: 100%;
		}
		@media(max-width: 980px){
			display: none;
		}
		&.left{
			.transition(left .3s ease);
			.animate(fadeInLeft);
			left: 0;
			&.active{
				//left: -100%;
			}
			&.semi-active{
				left: -7%;
			}
		}
		&.right{
			.transition(right .3s ease);
			.animate(fadeInRight);
			right: 0;
			&.active{
				//right: -100%;
			}
			&.semi-active{
				right: -7%;
			}
		}
	}
	.side{
		&-orange, &-green{
			.transition(width .3s ease);
			z-index: 9;
			vertical-align: top;
			display: inline-block;
			///.col(2);
			//.become-col(12, 980);
			//overflow: hidden;
			text-align: left;
			//background-color: #fff;
			position: absolute;
			top: 0;

			&.active{
				.col(4);
				.become-col(12, 980);
				position: absolute;

				@media(max-width: 980px){
					transform: translateX(0%);
				}
			}
			/*@media(max-width: 980px){
				position: absolute !important;
				top: 0; right: 0; bottom: 0; left: 0;
				margin: auto;
				background-color: @color-w;
			}*/
		}
		&-orange{
			left: 45%;
			margin-left: -360px;
			.side-element{
				transform: translateX(100%);
			}
			@media(max-width: 755px){
				left: 0;
				margin-left: 0;
				right: 0;
			}
		}
		&-green{
			left: 55%;
			//margin-left: -360px;
			.side-element{
				transform: translateX(-100%);
			}
			@media(max-width: 755px){
				left: 0;
				margin-left: 0;
				right: 0;
			}
		}
		&-element{
			.transition(transform .3s ease);
			border: 2px solid;
			position: absolute;
			margin: auto;
			padding: 0 25px 30px;
			opacity: 0;
			display: none;
			transition: opacity .3s ease;
			background-color: #fff;
			width: 360px;
			border-radius: 5px;
			@media(max-width: 450px){
				width: 100%;
			}
			&.green{
				border-radius: 15px;
				border-top: 1px solid @color-green;
				border-right: 1px solid @color-green;
				border-bottom: 1px solid @color-green;
				border-left: 1px solid @color-green;
				.rgba(@color-green, 1);
				box-shadow: 4px 4px 0px 0px @result;
				.cross-close{
					&:before, &:after{
						background-color: @color-green;
					}
				}
				h3{
					.adelya-m();
					text-transform: uppercase;
					color: @color-green;
					margin-bottom: 0;
					padding-bottom: 0;
				}
				p{
					.adelya-m();
					color: @color-green;
					margin: 0;
					padding: 0;
					.fs(16);
				}
				ul{
					padding-top: 5px;
					padding-left: 10px;
				}
				ul li{
					.fs(16);
					&:before{
						font-size: 10px;
						.adelya-m();
						color: @color-green;
					}
				}
			}
			&.orange{
				border-radius: 15px;
				border-top: 1px solid @color-red-dark;
				border-right: 1px solid @color-red-dark;
				border-bottom: 1px solid @color-red-dark;
				border-left: 1px solid @color-red-dark;
				.rgba(@color-red-dark, 1);
				box-shadow: 4px 4px 0px 0px @result;
				.cross-close{
					&:before, &:after{
						background-color: @color-red-dark;
					}
				}
				h3{
					.adelya-m();
					text-transform: uppercase;
					color: @color-red-dark;
					margin-bottom: 0;
					padding-bottom: 0;
				}
				p{
					.adelya-m();
					color: @color-red-dark;
					margin: 0;
					padding: 0;
					.fs(16);
				}
				ul{
					padding-top: 5px;
					padding-left: 10px;
				}
				ul li{
					.fs(16);
					&:before{
						font-size: 10px;
						.adelya-m();
						color: @color-red-dark;
					}
				}
			}
			&.active{
				display: block;
				transform: translateX(0%);
				opacity: 1;
				.animate(zoomIn, .3s);
			}
			.cross-close{
				position: absolute;
				top: 10px;
				right: 10px;
				width: 20px;
				height: 20px;
				cursor: pointer;
				transition: all .3s ease;

				&:before, &:after{
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					display: inline-block;
					width: 100%;
					height: 2px;
				}
				&:before{
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
				}
				&:after{
					-ms-transform: rotate(-45deg);
					-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
				&:hover{
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					transform: rotate(180deg);
				}
			}
		}
	}
	path{
		.transition(all);
	}
	.selector{
		.cursor();
		&:hover, &.active{
			.cls-7{
				fill: #f0413e;
				.opacity(1);
			}
			.cls-6{
				.opacity(1);
			}
			.cls-5{
				.opacity(.7);
			}
			.cls-4{
				fill: #fe5a3a;
				.opacity(1);
			}
		}
	}
}