.calltoaction{
	.transition(all .65s cubic-bezier(0.53,-0.62, 0.35, 1.75));
	position: fixed;
	top: 140px;
	right: -50px;

	background-color: @color-red;
	text-align: right;

	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;

	@media(max-width: 1680px){
		top: 135px;
	}
	@media(max-width: 1450px){
		top: 132px;
	}
	@media(max-width: 782px){
		top: 130px;
	}
	&--text{
		display: block;
		color: @color-w;
		text-transform: uppercase;
		.adelya-b();
		font-size: 13px;
		line-height: 13px;
		padding: 30px 65px 30px 50px;
	}
	@media(max-width: 680px){
		right: -180px;
	}
	.icon-rappeler2{
		position: absolute;
		top: 20px;
		bottom: 0;
		left: 20px;

		margin: auto;
		color: @color-w;
		font-size: 25px;
	}
	&.close{
		right: -180px;
		&:hover{
			right: -50px;
		}
	}
}
