.clients-listing-bloc{
	position: relative;
	display: block;
	margin: auto;
	.row();
	padding: 40px 0 40px;
	text-align: left;
	
	.title-trace{
		padding-top: 0;
	}
	.title-trace--title{
		padding-top: 0;
	}
	blockquote{
		padding: 0;
		margin: 0;
		p{
			padding: 0;
			margin: 0;
		}
	}
		
	&--title{
		.adelya-r();
		.col(12);
		.fs(24);
		color: @color-client-listing-title;
		padding-top: 15px;
		padding-bottom: 18px;
		margin-right: -15px;
		margin-left: -15px;
		@media (max-width:992px){
			.fs(18);
			line-height: 19px;
		}
		@media (max-width:768px){
			.fs(20);
			line-height: 21px;
		}
	}
	&-wrapper{
		position: relative;
	}
	&-ul{
		.transition(transform .3s);
		width: 100%;
		text-align: left;
		.row();
	}
	&-item{
		.col(3);
		.become-col(4, 980);
		.become-col(6, 720);
		.become-col(12, 550);
		text-align: center;
		vertical-align: top;
		@media(max-width: 550px){
			padding-right: 0;
			padding-left: 0;
		}
		&:hover{
			.clients-listing-bloc-item-wrapper{
				img{
					.grayscale(0);
				}
			}
			.clients-listing-bloc-item--title{
				color: @color-orange;
			}
		}
		&--same{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			width: 1%;
		}
		&-wrapper{
			border: 1px dashed @color-navigation-temoignages;
			padding: 20px;

			img{
				.transition(all .3s);
				.grayscale(1);
				display: block;
				margin: auto;
				width: 100%;
			}
		}
		&-same{
			position: relative;
			vertical-align: middle;
		}
		margin-bottom: 35px;
		@media(min-width: 980px){
			&:nth-last-child(-n+4){
				margin-bottom: 0;
			}
		}
		@media(min-width: 980px){
			&:nth-last-child(-n+3){
				margin-bottom: 0;
			}
		}
		@media(min-width: 720px){
			&:nth-last-child(-n+2){
				margin-bottom: 0;
			}
		}
		@media(max-width: 550px){
			&:last-child{
				margin-bottom: 0;
			}
		}

		&--title{
			.transition(all .3s);
			.adelya-b();
			.fs(14);
			text-transform: uppercase;
			min-height: 60px;
			&:before{
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background-color: @color-navigation-temoignages;
				margin: 18px auto 20px;
			}
		}
		&.active{
			.clients-listing-bloc-item-wrapper{
				border: 2px solid @color-orange;
				img{
					.grayscale(0);
				}
			}
			.clients-listing-bloc-item--title{
				color: @color-orange;
			}
		}
	}
}
