.clients-bloc{
	position: relative;
	display: block;
	margin: auto;
	.row();
	.margin-for-shortcode();
	text-align: center;
	blockquote{
		padding: 0;
		margin: 0;
		p{
			padding: 0;
			margin: 0;
		}
	}

	.title-trace{
		padding-top: 0;
	}
	.title-trace--title{
		padding-top: 0;
	}
	.title-trace--title .icon{
		color: @color-orange;
	}
	&-wrapper{
		position: relative;
	}
	&-overlay{
		position: relative;
		display: block;
		.row();
		.col(10);

		border: 1px dashed @color-navigation-temoignages;
		color: @color-w;

		overflow-x: hidden;
		padding: 25px 0;
		margin-top: 20px !important;
		@media(max-width: 1050px){
			padding: 30px;
		}
		@media(max-width: 750px){
			width: 100%;
			padding: 20px;
		}
		@media(max-width:550px){
			padding: 10px;
		}
	}
	&-margin{
		margin: 0 40px;
		overflow: hidden;
	}
	&-ul{
		.transition(transform .3s);
		width: 100%;
		text-align: center;
		&.slider{
			text-align: center;
		}
	}
	&-item{
		.col(3);
		.become-col(6, 980);
		.become-col(12, 550);
		text-align: center;
		vertical-align: middle;
		@media (max-width:980px) {
			margin-bottom:20px;
			img{
				max-width:90%;
			}
		}
		img{
			margin: auto;
		}


		color: @color-w;
		.grayscale(1);
		@media(max-width: 550px){
			img{
				width: 100%
			}
		}
		&:hover{
			.grayscale(0);
		}
	}
	&-navigation{
		position: absolute;
		top: 20px;
		right: 0;
		//bottom: 0;
		left: 0;
		margin: auto;
		height: 100%;
		line-height: 100%;

		font-size: 60px;
		color: @color-navigation-temoignages;
		z-index: 9;
		@media(max-width: 750px){
			font-size: 50px;
			color: @color-w;
		}

		&.next{
			.transition(margin-left .3s ease);
			margin-left: 0;
			@media(max-width: 750px){
				left: auto;
				display: none;
			}
			&:hover{
				margin-left: 25px;
			}
		}
		&.prev{
			.transition(margin-right .3s ease);
			margin-right: 0;
			@media(max-width: 750px){
				right: auto;
				display: none;
			}
			.prefixed(transform, rotate(180deg));
			&:hover{
				margin-right: 25px;
			}
		}
	}
	&-link{
		display: inline-block;
		margin: 30px auto 0;
		.btn-orange();
	}
}
