.bloc-comment-ca-marche{
	position: relative;
	display: block;
	margin: auto;
	.row();
	text-align: center;


	background-color: @color-blue;

	margin: 20px 0 0px !important;

	.title-trace{
		padding-top: 0 !important;
		&--title{
			padding-top: 0;
			color: @color-w;
			font-size: 25px;
			line-height: 26px;
			.icon-trace{
				color: @color-blue-trace;
			}
		}
		&--subtitle{
			padding-top: 25px;
			color: @color-w;
			&.without_typo_script {
				color: @color-w;
			}
		}
	}
	&-img{
		display: inline-block;
		position: relative;
		width: 100%;
		z-index: 0;
		padding: 40px 0 !important;
		@media(max-width: 850px){
			background: none;
		}

	}
	&-commentcamarche{
		width:160px;
		-webkit-animation-delay: 1s;
		animation-delay: 1s;
		position: absolute;
		text-align:center;
		right: 8.5%;
		left: auto;
		margin: auto;

		.animation(fadeInRight);
		img{
			display: inline-block;
			width:170px;
			max-width: inherit;
			margin: auto;
		}

		@media(max-width: 1050px){
			display: none;
		}
	}
	&-pyramide-decoupe{
		-webkit-animation-delay: 1s;
		animation-delay: 1s;
		position: absolute;
		top: 50%;
		left: 8.5%;
		bottom: 0;
		right: auto;
		margin: auto;

		.animation(fadeInUp);
		img{
			height: 100%;
			max-width: inherit;
		}

		@media(max-width: 1050px){
			display: none;
		}
	}
	&-content{
		.row();
		.col(10);
		&, p{
			padding: 0;
			margin: 0;
			.adelya-l();
			.fs(20);

			color: @color-w;
		}
	}
	&-link{
		display: inline-block;
		margin: 30px auto 0;
		.btn-white();
		width: 187px;

		line-height: 1.1;
		padding: 22px 30px;

		border-radius: 40px;

		margin-top: 40px;

		&-content{
			position: relative;
		}
	}
}
