.footer-direct-link{
	margin: 20px 0 0;
	.direct{
		&-link{
			position: relative;
			.row();
			text-align: center;
			visibility: collapse;
			display: block;
			a{
				display: inline;
				position: relative;
			}
			a:first-child{
				.animation(fadeInLeft);
				.direct-link-half{
					.transition(background-color .3s ease);
					margin-right: -25px;
					@media(max-width: 980px){
						margin-right: -15px;
					}
					.rgba(@color-orange-t, .7);
					background-color: @result;
					&:hover{
						z-index: 2;
						.rgba(@color-orange, .95);
						background-color: @result;
						.icon{
							margin-left: 50px;
						}
					}
				}
				&:hover{
					z-index: 2;
				}
			}
			a:last-child{
				.animation(fadeInRight);
				.direct-link-half{
					.transition(background-color .3s ease);
					margin-left: -25px;
					@media(max-width: 980px){
						margin-left: -15px;
					}
					.rgba(@color-red-dark-t, .7);
					background-color: @result;
					&:hover{
						z-index: 2;
						.rgba(@color-red-dark-t, .9);
						background-color: @result;
						.icon{
							margin-left: 50px;
						}
					}
				}
				&:hover{
					z-index: 2;
				}
			}
			&-half{
				position: relative;
				.col(3.5);
				width: 50%;
				max-width: 500px;
				min-height: 190px;
				border-radius: 190px;
				padding: 0 70px;

				.become-col(12, 720);
				@media(max-width: 720px){
					margin: 15px 0 !important;
				}

				@media(max-width: 980px){

					padding: 0 30px;
				}
				@media(max-width: 560px){
					min-width: inherit;
					padding: 0 30px;
				}

			}
			&-text{
				.h1, .h2, .h3, .h4, .h5, .h6{
					display: block;
					.fab();
					font-size: 30px;
					line-height: 30px;
					
					color: @color-w;

					margin-top: 0;
					margin-bottom: 0;

					padding-top: 45px;
					padding-bottom: 15px;
				}
				p{
					margin: 0;
					padding: 0;
					color: @color-w;
					.adelya-l();

					font-size: 18px;
					line-height: 18px;
				}
			}
			&-link{

			}
		}
	}
	.icon{
		.transition(all .3s ease);
		margin: auto;
		margin-left: 0;

		font-size: 30px;

		color: @color-w;
	}
}