.footer-link-social-network{
	.row();
	text-align: center;
	padding-top: 20px;
	.direct{
		&-link{
			&--link{
				display: inline;
			}
			&-content{
				.direct-link--link{
					position: relative;
					.animation(fadeInLeft);
					&:nth-child(2){
						-webkit-animation-delay: .3s; /* Chrome, Safari, Opera */
						animation-delay: .3s;
					}
					&:nth-child(3){
						-webkit-animation-delay: .9s; /* Chrome, Safari, Opera */
						animation-delay: .9s;
					}
				}
			}
			&-round{
				.transition(background-color .3s ease);
				position: relative;
				display: inline-block;
				text-align: center;
				width: 89px;
				height: 89px;
				border-radius: 50%;
				.rgba(@color-grey-nav, .5);
				background-color: @result;

				margin: 0 -7px;

				&:hover{
					.rgba(@color-footer-link-blog, .7);
					background-color: @result;
				}

				&.link-icon-blog{
					.icon{
						font-size: 55px;
						line-height: 35px;
					}
				}
				&.link-icon-twitter{
					&:hover{
						.rgba(@color-footer-link-tw, .7);
						background-color: @result;
					}
				}
				&.link-icon-facebook{
					&:hover{
						.rgba(@color-footer-link-fb, .7);
						background-color: @result;
					}
				}
			}
		}
	}
	.direct-link-content .icon{
		.transition(all .3s ease);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		font-size: 35px;
		height: 35px;
		color: @color-w;
		&:before{

		}
	}
	
}
.keep-in-touch{
	position: relative;

	display: block;

	height: 80px;

	overflow: hidden;
	.icon{
		&-keepInTouch{
			font-size: 140px;

			position: absolute;
			top: -38px; right: 0; bottom: 0; left: 0;
			margin: auto;

			color: @color-grey-nav;
		}
		&-Trace_keepInT{
			font-size: 105px;
			
			position: absolute;
			top: -8px; right: -32px; bottom: 0; left: 0;
			margin: auto;

			.rgba(@color-grey-nav, .64);
			color: @color-grey-nav;
			color: @result;
		}
	}
}