.imgtext{
	position: relative;
	text-align: center;
	&--img{
		display: block;
		text-align: center;
		margin: 0 auto;
		text-transform: uppercase;
		padding-bottom: 0;
		margin-bottom: 0;
		& img{
			margin: auto;
			margin-top: 80px;
		}
	}
	&--text{
		display: block;
		.fab();
		.fs(25);
		color: @color-grey;
		margin-top: 0;
		padding-top: 0;
	}
	&.without_typo_script{
		.imgtext--text{
			.adelya-m();
		}
	}
}
#post-663 > div > div:nth-child(2) > div:nth-child(1) > div > div > div > div > img, #post-663 > div > div:nth-child(2) > div:nth-child(2) > div > div > div > div > img{
	margin-top: 0;
}
