.bloc-mise-en-avant{
	position: relative;
	display: block;
	margin: auto;
	.row(0);
	padding: 40px 0;
	margin-bottom: 40px !important;
	text-align: center;
	color: @color-w;
	@media(max-width: 768px){
		margin: 20px 0;
	}


	.rgba(@color-orange-t , 0.7);
	background-color: @result;
	
	&-content{
		.row();
		.col(10);
		h2, h3, h4, h5, h6, p{
			padding: 0;
			margin: 0;
			color: @color-w;
			padding-bottom: 10px;

			word-wrap: break-word;
		}
		p{
			.adelya-l();
			padding: 0;
			margin: 0;
			.fs(17);
			line-height: 21px;
			text-align: left;
		}
	}
}
