.news-bloc{
	position: relative;
	display: block;
	margin: auto;
	.row();
	.margin-for-shortcode();
	text-align: center;
	
	.title-trace{
		padding-top: 0;
	}
	.title-trace--title{
		padding-top: 0;
	}
	&--title{
		text-transform: uppercase;
		padding-bottom: 0;
		margin-bottom: 0;
		position: relative;
		.icon{
			display: block;
			text-align: center;

			font-size: 60px;
		
			position: absolute;
			left: 0;
			bottom: -18px;
			right: 0;

			margin: auto;
			height: 45px;

			color: @color-trace;
		}
	}
	&-content{
		position: relative;
		padding-top: 35px;
		@media(max-width: 820px){
			padding-top: 0;
		}
	}
	&-item{
		.col(4);
		.become-col(12, 820);
		text-align: left;
		padding-bottom: 65px;
		&:after{
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: auto;
			margin: auto;
			width: 1px;
			height: 100%;
			background-color: @color-border-bloc-news;
		}

		&:last-child{
			&:after{
				content: none;
			}
		}
		@media(max-width: 820px){
			padding: 15px;
			margin-top: 15px;
			margin-bottom: 0;
			padding-top: 30px !important;
			padding-bottom: 15px !important;
			&:after{
				content: none;
				/*width: 100%;
				height: 1px;
				top: auto;
				right: 0;
				bottom: -15px;
				left: 0;*/
			}
			&:nth-child(2){
				border-top: 1px solid @color-grey;
			}
			&:last-child{
				border-top: 1px solid @color-grey;
			}
		}
		&--title{
			.adelya-b();
			.fs(18);
			.fs-responsive(16, 920);
			text-transform: uppercase;
			line-height: 1;
			color: @color-grey-h2;
			margin: 0;
			padding: 0;
			@media(max-width: 820px){
				display: block;
				text-align: center;
			}
		}
		&--date{
			display: block;
			.adelya-r();
			.fs(13);
			line-height: 1;
			color: @color-red;
			margin: 0;
			padding: 0;
			padding-top: 10px;
			@media(max-width: 820px){
				text-align: center;
			}
		}
		&--text{
			margin: 0;
			padding: 0;
			padding-top: 10px;
		}
		.icon{
			.transition(all .3s ease);
			position: absolute;
			right: 15px;
			bottom: 0;

			margin: auto;
			color: @color-red;

			border: 1px solid @color-red;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			.fs(20);
			line-height: 37px;
			text-align: center;
			@media(max-width: 820px){
				display: block;
				position: relative;
				right: 0; 
				left: 0;
				margin: auto;
			}

		}

		&:hover{
			.news-bloc-item--title{
				color: @color-red;
			}
			.icon{
				right: 5px;
			}
		}
	}
	&-link{
		display: inline-block;
		margin: 30px auto 0;
		.btn-red();
	}
}
.home footer .news-bloc{
	display: none;
}
footer .news-bloc{
	padding: 20px;
	&-item{
		padding-bottom: 45px;
	}
}