.subnav{
	position: relative;
	display: block;
	margin: auto;
	.row();
	.margin-for-shortcode();
	text-align: left;

	@media(max-width: 992px){
		padding: 20px 0 20px;
	}
	.title-trace{
		padding-top: 0;
	}
	.title-trace--title{
		padding-top: 0;
	}
	&-ul{
		position: relative;
		display: block;
		margin-top: 15px;
		text-align: center;
	}
	&-li{
		.col(2.4);
		.become-col(3, 1250);
		.become-col(4, 1100);
		.become-col(6, 800);
		.become-col(12, 720);
		vertical-align: top;
		text-align: center;
		.animation(fadeIn, 0.5s);
		@media (max-width:1250px) {
			margin-bottom:40px!important;
		}
		a{
		}
		&:hover{
			.subnav-title-wrapper{
				border: 1px solid @color-red-light;
				background-color: transparent;
			}
			.subnav-title{
				color: @color-red-light;
			}
			.icon.icon-fleche-droite{
				left: 15px;
			}
			.subnav-img img{
				-webkit-transform: scale(1.15);
				transform: scale(1.15);
			}
		}
		&:first-child{
			.subnav-border{
				border-left: 1px dashed @color-red-light;
			}
		}
		@media(min-width: 1400px){
			&:nth-last-child(-n+4){
				margin-bottom: 0;
			}
		}
		@media(min-width: 980px){
			&:nth-last-child(-n+3){
				margin-bottom: 0;
			}
		}
		@media(min-width: 720px){
			&:nth-last-child(-n+2){
				margin-bottom: 0;
			}
		}
		@media(max-width: 550px){
			margin-bottom: 35px;
			&:last-child{
				margin-bottom: 0;
			}
		}
			//bordure responsive
			@media (max-width:1100px) {
				&:nth-child(3) .subnav-border, &:nth-child(5) .subnav-border{
					border-right:0;
				}
				&:nth-child(1) .subnav-border{
					border-left:0;
				}

			}
			//bordure responsive
			@media (max-width:800px) {
				.subnav-border{
					border:0;
				}
			}

		}
		&-img{
			position: relative;
			display: block;
			border-radius: 50%;
			width: 100%;
			height:100%;
			margin: auto;
			overflow: hidden;
			z-index: 9;
			&-wrapper-bg{
				@media (max-width:550px) {
					height:auto!important;
				}
			}
			& img{
				.transition(all .3s);
				position: absolute;
				z-index: 1;
				width: 100%;
				height: auto;
			}
			&-dashed{
				overflow: hidden;
				position: relative;
				border: 1px dashed @color-red-light;
				border-radius: 50%;
				padding: 12px;
				@media(max-width: 550px){
					width: 70%;
					margin: 0 auto;
				}
			}
		}
		&-title{
			.transition(all .3s);
			position: relative;
			display: table-cell;
			vertical-align: middle;
			.adelya-b();
			.fs(14);
			.fs-responsive(12, 1400);
			.fs-responsive(13, 720);
			.fs-responsive(14, 550);
			line-height: 15px;
			color: @color-w;
			text-transform: uppercase;
			height: 30px;
			border-radius: 40px;
			text-align: center;
			width: 1%;
			margin: 0 auto;
			&-wrapper{
				border: 1px solid @color-red-light;
				width: 100%;
				display: block;
				margin: auto;
				.transition(all .3s);
				position: relative;
				.rgba(@color-red-light-t, .7);
				overflow: hidden;
				background-color: @result;
				margin-top: 18px;
				padding: 20px 10px 15px;
				@media(min-width: 1400px){
					padding: 20px 10px;
				}
				border-radius: 40px;
			}
		}
		&-border{
			position: relative;
			margin: 0 -15px;
			padding: 0 15px;
			border-right: 1px dashed @color-red-light;

			@media(max-width: 720px){
				border-right: none !important;
				border-left: none !important;
			}

		}
		&-description{
			display: block;
			.adelya-r();
			.fs(15);
			line-height: 17px;
			margin: 15px 0 0;
			color: @color-grey-p;
		}
		&-fleche{
			padding-top: 15px;
			height: 55px;
		}
		.icon.icon-fleche-droite{
			.transition(left .3s ease);
			position: absolute;
			display: inline-block;
			right: 0;
			bottom: 0;
			left: 0;

			margin: auto;
			color: @color-red;

			border: 1px solid @color-red;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			.fs(20);
			line-height: 37px;
			text-align: center;
		}
		.keep-in-touch{
			.animation(fadeInDown, 0.5s);
			position: absolute;
			top: -45px;
			left: 0;
			width: 130px;
			@media(max-width: 992px){
				left:-80px;
			}
			@media(max-width: 800px){
				display: none;
			}
			.icon-keepInTouch{
				top: -45px;
				left: -82px;
				right: auto;
			}
			.icon-Trace_keepInT{
				top: -14px;
				left: -113px;
			}
		}
	}
	.is-mobile {
		.subnav{
			.subnav-fleche{
				display: none;
			}
			.subnav-title-wrapper{
				margin-top: 10px;
			}
		} 
	}