.temoignages-bloc{
	position: relative;
	display: block;
	margin: auto;
	.row();
	.margin-for-shortcode();
	text-align: center;
	blockquote{
		padding: 0;
		margin: 0;
		p{
			padding: 0;
			margin: 0;
		}
	}
	
	.title-trace{
		padding-top: 0;
	}
	.title-trace--title{
		padding-top: 0;
	}
	.title-trace--title .icon{
		color: @color-orange;
	}
	&-wrapper{
		position: relative;
	}
	&-overlay{
		position: relative;
		display: block;
		.row();
		.col(10);

		.rgba(@color-orange-t , 0.7);
		background-color: @result;

		color: @color-w;

		overflow-x: hidden;
		padding: 60px 0;
		margin-top: 20px !important;
		@media(max-width: 1050px){
			padding: 30px;
		}
		@media(max-width: 750px){
			width: 100%;
			padding: 10px;
		}
	}
	&-ul{
		.transition(transform .3s);
		width: 100%;
	}
	&-item{
		.col(12);
		text-align: left;
		padding-bottom: 65px;
		width: 100%;
		vertical-align: middle;

		padding: 0 100px;

		text-align: center;

		color: @color-w;
		@media(max-width: 1050px){
			padding: 0 50px;
		}
		@media(max-width: 750px){
			padding: 0 10px;
		}
		&--auteur{
			.adelya-b();
			.fs(18);
			.fs-responsive(16, 750);
		}
		&--poste{
			.adelya-l();
			.fs(18);
			.fs-responsive(16, 750);
		}
		&--societe{
			.adelya-b();
			.fs(13);
			.fs-responsive(10, 750);
		}
		blockquote{
			font-family: 'adelya-lightitalic-webfont';
			.fs(19);
			.fs-responsive(17, 750);
		}
		footer{
			&:before{
				content: "";
				display: block;
				margin: 20px auto;
				width: 75px;
				height: 1px;
				background-color: @color-w;
			}
			p{color: @color-w;}
		}
	}
	&-navigation{
		position: absolute;
		top: 20px;
		right: 0;
		//bottom: 0;
		left: 0;
		margin: auto;
		height: 100%;
		line-height: 100%;

		font-size: 60px;
		color: @color-navigation-temoignages;
		z-index: 99999;
		@media(max-width: 750px){
			font-size: 50px;
			color: @color-w;
		}

		&.next{
			.transition(margin-left .3s ease);
			margin-left: 0;
			@media(max-width: 750px){
				left: auto;
				display: none;
			}
			&:hover{
				margin-left: 25px;
			}
		}
		&.prev{
			.transition(margin-right .3s ease);
			margin-right: 0;
			@media(max-width: 750px){
				right: auto;
				display: none;
			}
			.prefixed(transform, rotate(180deg));
			&:hover{
				margin-right: 25px;
			}
		}
	}
	&-link{
		display: inline-block;
		margin: 30px auto 0;
		.btn-orange();
	}
}
