.title-trace{
	position: relative;
	.col(8);
	.become-col(12, 1400);
	display: block;
	margin: auto;

	padding: 20px 0 50px;
	text-align: center;
	@media(max-width: 820px){
		padding-bottom: 30px;
	}
	&--title{
		text-transform: uppercase;
		padding-bottom: 0;
		margin-bottom: 0;
		
		.icon{
			display: block;
			text-align: center;

			font-size: 60px;

			position: absolute;
			left: 0;
			bottom: -18px;
			right: 0;

			margin: auto;
			height: 45px;

			color: @color-orange;

			&.orange{
				color: @color-orange;
			}
			&.red{
				color: @color-red;
			}
			&.green{
				color: @color-green;
			}
		}
	}
	&--subtitle{
		display: block;
		.fab();
		.fs(25);
		.fs-responsive(23, 992);
		@media(max-width: 992px){.lh(12);}
		.fs-responsive(20, 768);
		@media(max-width: 768px){.lh(12);}
		color: @color-red;
		margin-top: 0;
		padding-top: 13px;
		&.without_typo_script{
			padding-top: 30px;
			.adelya-r();
			color: @color-grey-h2;
			.fs(18);
		}
	}
}
.home{
	.title-trace{
		padding: 40px 0;
		@media(max-width: 1280px){
			padding: 0;
		}
	}
}