.fs(@value) {
	@valuerem: @value / 10;
	@lineheight : @value + 5;
	font-size: ~"@{value}px";
	line-height: ~"@{lineheight}px";
}


.fs-responsive(@size, @breakpoint){
	@media (max-width: ~"@{breakpoint}px") {
		@lineheight : @size + 5;
		font-size: ~"@{size}px";
		line-height: ~"@{lineheight}px";
	}
}

