.grayscale (@value: 1) {
	-webkit-filter: grayscale(@value);
	-moz-filter: grayscale(@value);
	-o-filter: grayscale(@value);
	-ms-filter: grayscale(@value);
	filter: grayscale(@value);
	filter: gray;
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=@value);
}