.hardwareAccel() {
	// Improve performance on mobile/tablet devices
	.prefixed(transform, translateZ(0));
}

.improveAntiAlias() {
	// Improve aliasing on mobile/tablet devices
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.fontSmooth() {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.forceBlockLevel() {
	// Transforms need to be block-level to work
	display: inline-block;
	vertical-align: middle;
}

.hacks() {
	.forceBlockLevel();
	.hardwareAccel();
	.improveAntiAlias();
	.fontSmooth();
}

/* Underline Reveal */
.underline-reveal(@color-bg) {
	@duration: .3s;

	.hacks();
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		bottom: -2px;
		background: @color-bg;
		height: 6px;
		.prefixed(transform, translateY(4px));
		.prefixed(transition-property, transform);
		.prefixed(transition-duration, @duration);
		.prefixed(transition-timing-function, ease-out);
	}

	&.current_page, &:focus, &:hover {
		&:before {
			.prefixed(transform, translateY(0));
		}
	}
}

.underline-reveal-hover(@color-bg) {
	@duration: .3s;

	.hacks();
	position: relative;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		bottom: 0;
		background: @color-bg;
		height: 2px;
		.prefixed(transform, translateY(4px));
		.prefixed(transition-property, transform);
		.prefixed(transition-duration, @duration);
		.prefixed(transition-timing-function, ease-out);
		.opacity(0);
	}

	&:hover, &:active, &:focus {
		&:before {
			.prefixed(transform, translateY(0));
			.opacity(1);
		}
	}
}