.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
	transition : 		@transition;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	backface-visibility: hidden;
}
